@page "/admin/roles"

@using EmpiriaBMS.Front.Services
@inject IDataProvider DataProvider
@inject IMapper Mapper

@if (!_isEditMode)
{
<div class="row">
    <div class="col-12 card shadow p-1 mt-2">
            <div class="d-flex justify-content-between m-1">
                <div><h3>Roles</h3></div>
                <div>
                    <span class="codicon--add"
                      @onclick="@(async() => await _add())">
                    </span>
                </div>
            </div>
            <div class="table-responsive p-1 table-container">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col" class="sticky-header"><h5>User</h5></th>
                            <th scope="col" class="sticky-header"><h5>Edit</h5></th>
                            <th scope="col" class="sticky-header"><h5>Delete</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in _roles)
                        {
                            <tr class="align-middle"
                                @onclick="@(() => _onSelectRole(role.Id))">

                                <td class="align-middle
                                    @((_selectedRole == null ||
                                            !_selectedRole.Id.Equals(role.Id)
                                                            ? "" : "highlight_1"))"
                                    style="word-wrap: break-word;">
                                    <labe>@role.Name</labe>
                                </td>

                                <td class="align-middle
                                    @((_selectedRole == null ||
                                            !_selectedRole.Id.Equals(role.Id)
                                                            ? "" : "highlight_1"))"
                                    style="width: 150px !important;"
                                    @onclick="@(async() => await _edit())">
                                    <span class="material-symbols--edit-outline" />
                                </td>

                                <td class="align-middle
                                    @((_selectedRole == null ||
                                            !_selectedRole.Id.Equals(role.Id)
                                                            ? "" : "highlight_1"))"
                                    style="width: 150px !important;"
                                    @onclick="@(async() => await _delete(role.Id))">
                                    <span class="fluent--delete-28-regular" />
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Paginator -->
            <div style="text-align: right;">
                <Paginator @ref=_paginator Renderer="@_getRoles" />
            </div>
    </div>
    </div>
}
else
{
    <EditRole @ref="_editRoleCompoment"
              Role="@_selectedRole"
              IsReadMode="@false"
              OnSave="@(async () => await _save())"
              OnCancel="@_cancel" />
}

<!-- Add / Edit Dialog -->
@* <FluentDialog @ref="_addEditDialog"
                Hidden="@(!_isAddEditDialogOdepened)"
                Modal="true"
                DialogType=@DialogType.Panel
                style="--dialog-width: 500px !important;
                       --dialog-height: auto !important;">

    <EditRole @ref="_editRoleCompoment"
              Role="@_selectedRole"
              IsReadMode="@false"
              OnSave="@(async () => await _save())"
              OnCancel="@_cancel" />

</FluentDialog> *@