@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor
@using EmpiriaBMS.Front.Components.KPIS
@using FluentUI = Microsoft.Fast.Components.FluentUI
@using EmpiriaBMS.Front.Components.KPIS.Simple
@using Microsoft.AspNetCore.Components

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager Logger
@inject MicrosoftTeams MicrosoftTeams



<div>
    <h4>KPIS</h4>
</div>

<div class="grid-stack" style="width: 100vw; height: 100vh;">
    @foreach (var component in displayedCompoments)
    {
        <div class="grid-stack-item"
             gs-w="@component.Position.W"
             gs-h="@component.Position.H"
             gs-x="@component.Position.X"
             gs-y="@component.Position.Y"
             id="@component.ComponentType.ToString()">
            <div class="grid-stack-item-content">
                <DynamicComponent Type="@component.ComponentType" Parameters="@component.Parameters" />
            </div>
        </div>
    }
</div>