@using EmpiriaBMS.Front.ViewModel.Interfaces
@using EmpiriaBMS.Front.Services
@using Color = Microsoft.Fast.Components.FluentUI.Color
@using EmpiriaBMS.Front.Components.Admin.Projects.Clients
@using EmpiriaBMS.Core.Hellpers

@implements IDialogContentComponent<IssueVM>

@inject IDataProvider _dataProvider
@inject IMapper _mapper
@inject IDialogService DialogService
@inject MicrosoftTeams MicrosoftTeams

@* Header *@
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
    <div class="row gx-2" style="height: 77vh; max-width: 100%; overflow-y: auto; overflow-x: hidden;">

        <div class="col-12 row gx-3 mt-2">
            <!-- Project -->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div>
                    Project<span class="text-danger">*</span>
                </div>
                <div>
                    <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                    Placeholder="Select Project..."
                                    Items="@_projects"
                                    Height="200px"
                                    Width="100%"
                                    TOption="ProjectVM"
                                    OptionText="@(c => c.Name)"
                                    OptionValue="@(c => c.Id.ToString())"
                                    @bind-SelectedOption="@Project" />
                </div>
                @if (!validProject)
                {
                    <div>
                        <span class="text-warning">Field is required!</span>
                    </div>
                }
            </div>
            <!-- Visible To Role -->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div>
                    Visible To Role
                </div>
                <div>
                    <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                    Placeholder="Select Role..."
                                    Items="_roles"
                                    Height="200px"
                                    Width="100%"
                                    Class="float-end"
                                    TOption="RoleVM"
                                    OptionText="@(c => c.Name)"
                                    OptionValue="@(c => c.Id.ToString())"
                                    @bind-SelectedOption="@Role" />
                </div>
                @if (!validRole)
                {
                    <div>
                        <span class="text-warning">Field is required!</span>
                    </div>
                }
            </div>
        </div>

        <div class="col-12 row gx-3 mt-2">
            <!-- Creator -->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div>
                    Creator<span class="text-danger">*</span>
                </div>
                <div>
                    <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                    Placeholder="Select Creator..."
                                    Items="@_users"
                                    Height="200px"
                                    Width="100%"
                                    TOption="UserVM"
                                    OptionText="@(c => c.FullName)"
                                    OptionValue="@(c => c.Id.ToString())"
                                    @bind-SelectedOption="@Creator" />
                </div>
                @if (!validCreator)
                {
                    <div>
                        <span class="text-warning">Field is required!</span>
                    </div>
                }
            </div>
            <!-- ComplaintDate-->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <FluentDatePicker Class="float-end" Style="width: 100%;" @bind-Value="@Content.ComplaintDate" Label="Complaint Date" />
            </div>
        </div>

        <div class="col-12 row gx-3 mt-2">
            <!-- Description -->
            <div class="col-12">
                <FluentTextArea Style="width:100%;" @bind-Value="@Content.Description" Rows="3" Resize="TextAreaResize.Vertical">Description:</FluentTextArea>
            </div>
        </div>

        <div class="col-12 row gx-3 mt-2">
            <!-- Solution -->
            <div class="col-12">
                <FluentTextArea Style="width:100%;" @bind-Value="@Content.Solution" Rows="3" Resize="TextAreaResize.Vertical">Solution:</FluentTextArea>
            </div>
        </div>

        <div class="col-12 row gx-3 mt-2">
            <!-- Evaluation -->
            <div class="col-12">
                <FluentTextArea Style="width:100%;" @bind-Value="@Content.Evaluation" Rows="3" Resize="TextAreaResize.Vertical">Evaluation:</FluentTextArea>
            </div>
        </div>

        <div class="col-12 row gx-3 mt-2">
            <!-- Verification -->
            <div class="col-12">
                <FluentTextArea Style="width:100%;" @bind-Value="@Content.Verification" Rows="3" Resize="TextAreaResize.Vertical">Verification:</FluentTextArea>
            </div>
        </div>

        <div class="col-12 row gx-3 mt-2">
            <!-- SolutionDate -->
            <div class="col-lg-6 col-md-12">
                <FluentDatePicker Style="width: 100%;" @bind-Value="@Content.SolutionDate" Label="Solution Date" />
            </div>
            <!-- VerificationDate-->
            <div class="col-lg-6 col-md-12">
                <FluentDatePicker Style="width: 100%;" @bind-Value="@Content.VerificationDate" Label="Verification Date" />
            </div>
        </div>

        <div class="col-12 row gx-3 mt-2">
            <!-- IsClose -->
            <div class="col-lg-6 col-md-12">
                <FluentSwitch @bind-Value="@Content.IsClose">
                    IsClose
                </FluentSwitch>
            </div>
            <!-- None -->
            <div class="col-lg-6 col-md-12">
                
            </div>
        </div>

        <div class="col-12 row gx-3 mt-2">
            <!-- PMSignature -->
            <div class="col-lg-6 col-md-12">
                @{
                    var pmSignatureSrc = @ImageHelper.GetImageUrl(@Content.PMSignature);
                }
                @if (pmSignatureSrc != null)
                {
                    <div>
                        Project Manager Signature
                    </div>
                    <div>
                        <img src="@pmSignatureSrc" alt="Project Manager Signature">
                    </div>
                }
            </div>
            <!-- VerificatorSignature -->
            <div class="col-lg-6 col-md-12">
                @{
                    var verificatorSignatureSrc = @ImageHelper.GetImageUrl(Content.VerificatorSignature);
                }
                @if (verificatorSignatureSrc != null)
                {
                    <div>
                        Project Manager Signature
                    </div>
                    <div>
                        <img src="@verificatorSignatureSrc" alt="Verificator Signature">
                    </div>
                }
            </div>
        </div>

        <div class="col-12 row gx-3 mt-2">
            <!-- Documents -->
            <div class="col-12">
                <div>
                    <h3>Documents</h3>
                </div>
                <div>
                    <ul>
                        @foreach (var document in _documents)
                        {
                            <li>
                                <FluentButton OnClick="@(() => DownloadFile(document))">
                                    <FluentIcon Value="@(new Icons.Regular.Size32.ArrowDown())" Color="Color.Error" Slot="start" />
                                    @document.FileName
                                </FluentButton>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>
</FluentDialogBody>