@page "/reports"
@using System.Threading.Tasks
@using ChartJs.Blazor;
@using EmpiriaBMS.Core.ReturnModels;
@using Color = Microsoft.Fast.Components.FluentUI.Color;

@inject IDataProvider _dataProvider
@inject IMapper _mapper
@inject Logging.LoggerManager _logger
@inject MicrosoftTeams MicrosoftTeams

@if (_loading)
{
    <!-- Loading -->
    <div class="loading_speen">
        <FluentProgressRing @bind-Visible="@_loading" />
    </div>
}

@if (_barChartConfig != null)
{
    <div class="row mb-1"
         style="visibility:@((_loading ? "hidden" : "visible"));">

        <!-- Filters -->
        <div class="col-6">
            <FluentStack Orientation="Orientation.Horizontal"
                         HorizontalAlignment="HorizontalAlignment.Start"
                         HorizontalGap="8"
                         VerticalAlignment="VerticalAlignment.Center">

                <!-- Date Range -->
                <div>
                    <DateRangePicker class="form-control"
                                     title="Dates"
                                     placeholder="Select dates..."
                                     @bind-StartDate="StartDate"
                                     @bind-EndDate="EndDate"
                                     OnRangeSelect="@(async (e) => await OnDateSelect(e))"
                                     style="width: 200px;" />

                    @if (!string.IsNullOrEmpty(dateValidMsg))
                    {
                        <span class="text-warning">@dateValidMsg</span>
                    }
                </div>

                <!-- Client -->
                <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                Placeholder="Select Client..."
                                Items="@_clients"
                                Height="200px"
                                TOption="ClientVM"
                                OptionText="@(c => c.CompanyName)"
                                OptionValue="@(c => c.Id.ToString())"
                                SelectedOptionChanged="@(async (e) => await _onClientSelected(e))" />

                <!-- ProjectCategory -->
                <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                Placeholder="Select Project Category..."
                                Items="@_projectCategories"
                                Height="200px"
                                TOption="ProjectCategoryVM"
                                OptionText="@(c => c.Name)"
                                OptionValue="@(c => c.Id.ToString())"
                                SelectedOptionChanged="@(async (e) => await _onCategorySelected(e))" />

                <!-- ProjectSubCategory -->
                <FluentCombobox @ref="subCategoryCombo"
                                Autocomplete="ComboboxAutocomplete.Both"
                                Placeholder="Select Project SubCategory..."
                                Items="@_projectSubCategories"
                                Height="200px"
                                TOption="ProjectSubCategoryVM"
                                OptionText="@(c => c.Name)"
                                OptionValue="@(c => c.Id.ToString())"
                                SelectedOptionChanged="@(async (e) => await _onSubCategorySelected(e))" />

            </FluentStack>
        </div>

        <!-- Export to PDF -->
        <div class="col-6">
            <FluentStack Orientation="Orientation.Horizontal"
                         HorizontalAlignment="HorizontalAlignment.End"
                         HorizontalGap="8"
                         VerticalAlignment="VerticalAlignment.Center">
                <FluentButton Appearance="Appearance.Outline"
                              Loading="@exporting"
                              OnClick="@(async () => await _exportToPdf())">
                    Export
                    <FluentIcon Value="@(new Icons.Regular.Size32.DocumentPdf())" Color="Color.Error" Slot="start" />
                </FluentButton>
            </FluentStack>
        </div>

        <!-- Chart -->
        <div class="col-12 container mt-1"
             id="export-to-pdf-projects-report-chart">
            <Chart @ref="@_chartInstance" Config="@_barChartConfig" />
        </div>

        <!-- Table -->
        <div class="col-12 mt-2"
             id="export-to-pdf-projects-report-table">

            <div>
                <FluentDataGrid Items="@FilteredItems"
                                ResizableColumns=true
                                Pagination="@pagination"
                                TGridItem="ReportProjectReturnModel"
                                OnRowFocus="HandleRowFocus"
                                GridTemplateColumns="2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr"
                                style="height: 240px; overflow:auto;">

                    <TemplateColumn Title="Name"
                                    Sortable="true"
                                    InitialSortDirection=SortDirection.Descending
                                    IsDefaultSortColumn=true>
                        <ColumnOptions>
                            <div class="search-box">
                                <FluentSearch type="search"
                                              Autofocus=true
                                              @bind-Value="@_filterString"
                                              Placeholder="Name..."
                                              @oninput="@HandleFilter" />
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            @(context.Project.Name)
                        </ChildContent>
                    </TemplateColumn>

                    <PropertyColumn Property="@(p => p.Client.CompanyName)" Sortable="true" Title="Client" Align="@Align.Start" />

                    <PropertyColumn Property="@(p => p.Lead.Name)" Sortable="true" Title="Lead" Align="@Align.Start" />

                    <PropertyColumn Property="@(p => p.Offer.Code)" Sortable="true" Title="Offer" Align="@Align.Start" />

                    <PropertyColumn Property="@(p => p.Category.Name)" Sortable="true" Title="Category" Align="@Align.Start" />

                    <PropertyColumn Property="@(p => p.SubCategory.Name)" Sortable="true" Title="Category" Align="@Align.Start" />

                    <PropertyColumn Property="@(p => p.Project.CreatedDate.ToEuropeFormat() ?? "--")" Sortable="true" Title="Created Date" Align="@Align.Start" />

                    <PropertyColumn Property="@(p => p.TotalWorkedTime.DisplayDHMS())" Sortable="true" Title="Worked Time" Align="@Align.Start" />

                </FluentDataGrid>
            </div>
            <div style="min-width: 50%;">
                <FluentPaginator State="@pagination">
                    <SummaryTemplate>
                        There are <strong>@(pagination.TotalItemCount ?? 0)</strong> rows
                    </SummaryTemplate>
                    <PaginationTextTemplate>
                        This is page <strong>@(pagination.CurrentPageIndex + 1)</strong> out of a total of <strong>@(pagination.LastPageIndex + 1)</strong> pages
                    </PaginationTextTemplate>
                </FluentPaginator>
            </div>
        </div>

    </div>

}
else
{
    <span class="text-warning ms-5"
          style="visibility:@((_loading ? "hidden" : "visible"));">
        No Data!
    </span>
}