@page "/leds"

@using EmpiriaBMS.Front.Services;
@using EmpiriaBMS.Models.Enum;

@inject IDataProvider DataProvider
@inject MicrosoftTeams MicrosoftTeams
@inject IMapper Mapper
@inject IDialogService DialogService
@inject Logging.LoggerManager Logger

<div class="mt-1 ms-2 me-2">
    <FluentStack HorizontalAlignment="HorizontalAlignment.End" Style="margin-right: 10px;">
        <!-- Add -->
        @if (IsWorkingMode)
        {
            <FluentButton aria-label="Add" IconEnd="@(new Icons.Regular.Size16.Add())" OnClick="@(() => _add())">Add</FluentButton>
        }
                
        <!-- Import -->
        <InputFile @ref="@fileInput" OnChange="ImportFromCSV" style="display: none;" />
        <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowImport())"
                        Appearance="Appearance.Outline"
                        OnClick="@(async () => await TriggerFileInput())">
            Import
        </FluentButton>

        <!-- Export -->
        <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowExport())"
                        Appearance="Appearance.Outline"
                        OnClick="@(async (e) => await ExportToCSV())"
                        Disabled="@(FilteredItems?.Count() == 0)">
            Export
        </FluentButton>
    </FluentStack>
</div>

<div class="row mt-1">

    <div class="col-12">
        <!-- Filters -->
        <FluentStack Orientation="Orientation.Horizontal" 
                     HorizontalAlignment="HorizontalAlignment.Start"
                     Style="margin-right: 10px; column-gap: 10px; row-gap: 5px;"
                     class="ms-2 me-2"
                     Wrap="true">
            
            <FluentCombobox @ref="_resultFilterCombo"
                            Autocomplete="ComboboxAutocomplete.Both"
                            Placeholder="Select Result..."
                            Items="_leadResults"
                            Width="200px"
                            Class="float-end"
                            TOption="(string Value, string Text)"
                            OptionText="@(c => c.Text)"
                            OptionValue="@(c => c.Value)"
                            SelectedOptionChanged="@(async (o) => await _onResultSelectionChanged(o))" />

        </FluentStack>
    </div>

    <div class="col-12">
        <div class="border border-1 rounded mt-2 m-2" style="height: 280px;">
            <FluentDataGrid Items="@FilteredItems"
                            ResizableColumns=true
                            Pagination="@pagination"
                            TGridItem="LeadVM"
                            OnRowFocus="HandleRowFocus"
                            GridTemplateColumns="@((IsWorkingMode ? "2fr 2fr 2fr 2fr 2fr 2fr 100px" : "2fr 2fr 2fr 2fr 2fr 100px"))"
                            style="height: 280px; overflow:auto;">

                <!-- Result -->
                <TemplateColumn Title="Result" Sortable="true">
                    <ChildContent>
                        <select class="form-select" @onchange="@(async e => await HandleResultChange(context, e))">
                            @foreach (var result in Enum.GetValues(typeof(LeadResult)).Cast<LeadResult>())
                            {
                                <option value="@(result)" selected="@(context.Result == result)">
                                    @result.GetDisplayName()
                                </option>
                            }
                        </select>
                    </ChildContent>
                </TemplateColumn>

                <!-- Name -->
                <TemplateColumn Title="Name"
                                Sortable="true"
                                InitialSortDirection=SortDirection.Descending
                                IsDefaultSortColumn=true>
                    <ColumnOptions>
                        <div class="search-box">
                            <FluentSearch type="search"
                                          Autofocus=true
                                          @bind-Value="@_filterString"
                                          Placeholder="Name..."
                                          @oninput="@HandleFilter" />
                        </div>
                    </ColumnOptions>
                    <ChildContent>
                        @(context.Name)
                    </ChildContent>
                </TemplateColumn>

                <!-- Client -->
                <TemplateColumn Title="Client"
                                Sortable="true"
                                InitialSortDirection=SortDirection.Descending
                                IsDefaultSortColumn=true>
                    <ChildContent>
                        @(context.Client?.FullName)
                    </ChildContent>
                </TemplateColumn>

                <!-- PotencialFee -->
                <PropertyColumn Property="@(p => p.PotencialFee)" Sortable="true" Title="Potencial Fee" Align="@Align.Start" />

                <!-- Address -->
                <TemplateColumn Title="Address"
                                Sortable="true"
                                InitialSortDirection=SortDirection.Descending
                                IsDefaultSortColumn=true>
                    <ChildContent>
                        @(context.Address?.FormattedAddress)
                    </ChildContent>
                </TemplateColumn>

                <!-- ExpectedDurationDate -->
                <PropertyColumn Property="@(p => p.ExpectedDurationDate)" Format="dd-mm-yyyy" Sortable="true" Title="Duratio nDate" Align="@Align.Start" />

                <!-- Actions -->
                @if (IsWorkingMode)
                {
                    <TemplateColumn Title="Actions" Align="@Align.End">
                        <FluentButton aria-label="Edit" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => _edit(context))" />
                        <FluentButton aria-label="Delete" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => _delete(context))" />
                    </TemplateColumn>
                }

            </FluentDataGrid>
        </div>
        <div class="ms-2 me-2" style="min-width: 50%; margin: 0 auto;">
            <FluentPaginator State="@pagination">
                <SummaryTemplate>
                    There are <strong>@(pagination.TotalItemCount ?? 0)</strong> rows
                </SummaryTemplate>
                <PaginationTextTemplate>
                    This is page <strong>@(pagination.CurrentPageIndex + 1)</strong> out of a total of <strong>@(pagination.LastPageIndex + 1)</strong> pages
                </PaginationTextTemplate>
            </FluentPaginator>
        </div>
    </div>

</div>
