@using EmpiriaBMS.Front.ViewModel.Interfaces
@using EmpiriaBMS.Front.Services

@implements IDialogContentComponent<ProjectVM>
   
@inject IDataProvider DataProvider
@inject IMapper Mapper
@inject IDialogService DialogService

@* Header *@
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
    <div class="row">

        <div class="col-12 row">
            <!-- Name -->
            <div class="col-6">
                <FluentTextField Style="width:100%; margin:4px;" @bind-Value="@Content.Name">
                    Name<span class="text-danger">*</span>
                </FluentTextField>
                @if (!validName)
                {
                    @if (string.IsNullOrEmpty(@Content?.Name))
                    {
                        <div class="col-12">
                            <span class="text-warning">Field is required!</span>
                        </div>
                    }
                }
            </div>
            <!-- Code-->
            <div class="col-6">
                <FluentTextField Style="width:100%; margin:4px;" @bind-Value="@Content.Code">
                    Code<span class="text-danger">*</span>
                </FluentTextField>
                @if (!validCode)
                {
                    @if (string.IsNullOrEmpty(@Content?.Code))
                    {
                        <div class="col-12">
                            <span class="text-warning">Field is required!</span>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="col-12 row">
            <!-- Category -->
            <div class="col-4">
                <div class="col-12">
                    Category<span class="text-danger">*</span>
                </div>
                <FluentCombobox Placeholder="Select Category..."
                                Items="@_categories"
                                Height="200px"
                                TOption="ProjectCategoryVM"
                                OptionText="@(c => c.Name)"
                                OptionValue="@(c => c.Id.ToString())"
                                @bind-SelectedOption="@Category"/>
                @if (!validCategory)
                {
                    @if (_category == null)
                    {
                        <div class="col-12">
                            <span class="text-warning">Field is required!</span>
                        </div>
                    }
                }
            </div>
            <!-- SubCategory -->
            <div class="col-4">
                <div class="col-12">
                    SubCategory<span class="text-danger">*</span>
                </div>
                <FluentCombobox Placeholder="Select SubCategory..."
                                Items="@_subCategories"
                                Height="200px"
                                TOption="ProjectSubCategoryVM"
                                OptionText="@(c => c.Name)"
                                OptionValue="@(c => c.Id.ToString())"
                                @bind-SelectedOption="@SubCategory"/>
                @if (!validSubCategory)
                {
                    @if (Content.CategoryId == 0)
                    {
                        <div class="col-12">
                            <span class="text-warning">Field is required!</span>
                        </div>
                    }
                }
            </div>
            <!-- Stage -->
            <div class="col-4">
                <div class="col-12">
                    Stage<span class="text-danger">*</span>
                </div>
                <FluentCombobox Placeholder="Select Stage..."
                                Items="@_stages"
                                Height="200px"
                                TOption="ProjectStageVM"
                                OptionText="@(c => c.Name)"
                                OptionValue="@(c => c.Id.ToString())"
                                @bind-SelectedOption="@Stage"/>
                @if (!validStage)
                {
                    @if (Content.StageId == 0)
                    {
                        <div class="col-12">
                            <span class="text-warning">Field is required!</span>
                        </div>
                    }
                }
            </div>
        </div>

        <!-- Description -->
        <div class="col-12">
            <FluentTextArea Style="width:100%; margin:4px;" @bind-Value="@Content.Description" Rows="3" Resize="TextAreaResize.Vertical">Description:</FluentTextArea>
        </div>

        <div class="col-12 row">
            <!-- StartDate -->
            <div class="col-6">
                <FluentDatePicker @bind-Value="@Content.StartDate" Label="Start Date"/>
            </div>
            <!-- DeadLine-->
            <div class="col-6">
                <FluentDatePicker @bind-Value="@Content.DeadLine" Label="DeadLine" />
            </div>
        </div>

    </div>
</FluentDialogBody>