@page "/admin/projects"

@using EmpiriaBMS.Front.Services
@inject IDataProvider DataProvider
@inject MicrosoftTeams MicrosoftTeams
@inject IMapper Mapper
@inject IDialogService DialogService

<div class="row" style="overflow-x: auto; margin: 0 auto;">
    <div class="col-12 card shadow">
        @if (DisplayActions)
        {
            <div>
                <FluentStack Class="mt-2" HorizontalAlignment="HorizontalAlignment.End" Style="margin-right: 10px;">
                    <FluentButton aria-label="Add" IconEnd="@(new Icons.Regular.Size16.Add())" OnClick="@(() => _add())">Add</FluentButton>
                    <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowExport())"
                                  Appearance="Appearance.Outline"
                                  OnClick="@(async (e) => await ExportToCSV())"
                                  Disabled="@(FilteredItems?.Count() == 0)">
                        Export
                    </FluentButton>
                </FluentStack>
            </div>
        }
        <div>
            <FluentDataGrid Items="@FilteredItems"
                            ResizableColumns=true
                            Pagination="@pagination"
                            TGridItem="ProjectVM"
                            OnRowFocus="@(async (p) => await HandleRowFocus(p))"
                            GridTemplateColumns="2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 100px"
                            style="height: 100% min-height: 300px; overflow:auto;">

                <TemplateColumn Title="Name"
                                Sortable="true"
                                InitialSortDirection=SortDirection.Descending
                                IsDefaultSortColumn=true>
                    <ColumnOptions>
                        <div class="search-box">
                            <FluentSearch type="search"
                                          Autofocus=true
                                          @bind-Value="@_filterString"
                                          Placeholder="Name..."
                                          @oninput="@HandleFilter" />
                        </div>
                    </ColumnOptions>
                    <ChildContent>
                        @(context.Name)
                    </ChildContent>
                </TemplateColumn>

                <PropertyColumn Property="@(p => p.Code)" Sortable="true" Title="Code" Align="@Align.Start" />

                <TemplateColumn Sortable="true" Title="Category" Align="@Align.Start">
                    <span>@(context.Offer?.Category?.Name ?? "--")</span>
                </TemplateColumn>

                <TemplateColumn Sortable="true" Title="SubCategory" Align="@Align.Start">
                    <span>@(context.Offer?.SubCategory?.Name ?? "--")</span>
                </TemplateColumn>

                <PropertyColumn Property="@(p => p.Active)" Sortable="true" Title="Active" Align="@Align.Start" />
                <PropertyColumn Property="@(p => p.StartDate)" Sortable="true" Title="StartDate" Format="dd-mm-yyyy" Align="@Align.Start" />
                <PropertyColumn Property="@(p => p.DeadLine)" Sortable="true" Title="DeadLine" Format="dd-mm-yyyy" Align="@Align.Start" />
                <PropertyColumn Property="@(p => p.PMFullName)" Sortable="true" Title="ProjectManager" Align="@Align.Start" />
                <PropertyColumn Property="@(p => p.ClientFullName)" Sortable="true" Title="Client" Align="@Align.Start" />

                <TemplateColumn Title="Actions" Align="@Align.End">
                    @if (DisplayActions)
                    {
                        <FluentButton aria-label="Edit" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => _edit(context))" />
                    }
                    <FluentButton aria-label="Delete" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => _delete(context))" />
                </TemplateColumn>

            </FluentDataGrid>
        </div>
        <div style="min-width: 50%;">
            <FluentPaginator State="@pagination">
                <SummaryTemplate>
                    There are <strong>@(pagination.TotalItemCount ?? 0)</strong> rows
                </SummaryTemplate>
                <PaginationTextTemplate>
                    This is page <strong>@(pagination.CurrentPageIndex + 1)</strong> out of a total of <strong>@(pagination.LastPageIndex + 1)</strong> pages
                </PaginationTextTemplate>
            </FluentPaginator>
        </div>
    </div>
</div>