@using EmpiriaBMS.Front.ViewModel.Interfaces
@using EmpiriaBMS.Front.Services
@using Color = Microsoft.Fast.Components.FluentUI.Color
@using EmpiriaBMS.Front.Components.Admin.Projects.Clients
@using EmpiriaBMS.Core.Hellpers

@inject IDataProvider _dataProvider
@inject IMapper _mapper
@inject IDialogService DialogService
@inject MicrosoftTeams MicrosoftTeams
@inject Logging.LoggerManager Logger

<div>

    @if (Content != null)
    {
        <div class="row m-2 d-flex justify-content-center"
             style="cursor: pointer; overflow: auto; margin: 0 auto;">

            @if (!string.IsNullOrEmpty(@Title))
            {
                <div class="col-12 mb-2 mt-2">
                    <h3>@Title</h3>
                </div>
            }

            <div class="col-12 row gx-2 mt-1">
                <!-- Project -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    @if (DisplayProject)
                    {
                        <div>
                            Project<span class="text-danger">*</span>
                        </div>
                        <div>
                            <FluentCombobox @ref="_projectCombo"
                            Autocomplete="ComboboxAutocomplete.Both"
                            Placeholder="Select Project..."
                            Items="@_projects"
                            Height="200px"
                            Width="100%"
                            TOption="ProjectVM"
                            OptionText="@(c => c.Name)"
                            OptionValue="@(c => c.Id.ToString())"
                            @bind-SelectedOption="@SelectedProject"
                            Disabled="@(!IsWorkingMode)" />
                        </div>
                        @if (!validProject)
                        {
                            <div>
                                <span class="text-warning">Field is required!</span>
                            </div>
                        }
                    } else
                    {
                        <div>
                            Project<span class="text-danger">*</span>
                        </div>
                        <div>
                            <strong>@SelectedProject.Name</strong>
                        </div>
                    }
                </div>
                <!-- Category -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div>
                        Category
                    </div>
                    <div>
                        @if(InvoiceCategory == null)
                        {
                            <FluentCombobox @ref="@_categoryCombo"
                                            Autocomplete="ComboboxAutocomplete.Both"
                                            Placeholder="Select Result..."
                                            Items="_categories"
                                            Height="200px"
                                            Width="100%"
                                            Class="float-end"
                                            TOption="(string Value, string Text)"
                                            OptionText="@(c => c.Text)"
                                            OptionValue="@(c => c.Value)"
                                            @bind-SelectedOption="SelectedCategory"
                            Disabled="@(!IsWorkingMode)" />
                        }
                        else
                        {
                            <strong>@SelectedCategory.Text</strong>
                        }
                    </div>
                </div>
            </div>

            <div class="col-12 row gx-2 mt-1">
                <!-- Type -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div>
                        Type<span class="text-danger">*</span>
                    </div>
                    <div>
                        <FluentCombobox @ref="_typeCombo"
                                        Autocomplete="ComboboxAutocomplete.List"
                                        Placeholder="Select Type..."
                                        Items="@_types"
                                        Height="200px"
                                        Width="100%"
                                        TOption="InvoiceTypeVM"
                                        OptionText="@(c => c.Name)"
                                        OptionValue="@(c => c.Id.ToString())"
                                        @bind-SelectedOption="@SelectedType"
                                        Disabled="@(!IsWorkingMode)" />
                    </div>
                    @if (!validType)
                    {
                        <div>
                            <span class="text-warning">Field is required!</span>
                        </div>
                    }
                </div>
                <!-- Expenses Type-->
                @if (Content.Category == Models.Enum.InvoiceCategory.EXPENSES)
                {
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div>
                            Expense Type
                        </div>
                        <div>
                            <FluentCombobox @ref="_expenseTypeCombo"
                                            Autocomplete="ComboboxAutocomplete.Both"
                                            Placeholder="Select Expense Type..."
                                            Items="@_expensesTypes"
                                            Height="200px"
                                            Width="100%"
                                            TOption="ExpensesTypeVM"
                                            OptionText="@(c => c.Name)"
                                            OptionValue="@(c => c.Id.ToString())"
                                            @bind-SelectedOption="@SelectedExpType"
                                            Disabled="@(!IsWorkingMode)" />
                        </div>
                    </div>
                }
            </div>

            <div class="col-12 row gx-2 mt-1">
                <!-- Mark -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div>
                        Mark
                    </div>
                    <FluentTextField Style="width:100%;"
                                     @bind-Value="@Content.Mark"
                                     Disabled="@(!IsWorkingMode)" />
                    @if (!validMark)
                    {
                        <div class="col-12">
                            <span class="text-warning">Field is required!</span>
                        </div>
                    }
                </div>
                <!-- InvoiceNumber -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div>
                        InvoiceNumber
                    </div>
                    <FluentNumberField Style="width:100%;"
                                       @bind-Value="@Content.InvoiceNumber"
                                       Min="0"
                                       Disabled="@(!IsWorkingMode)" />
                </div>
            </div>

            <div class="col-12 row gx-2 mt-1">
                <!-- EstimatedPayment -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div>
                        EstimatedPayment
                    </div>
                    <FluentDatePicker Style="width:100%;"
                                      @bind-Value="@Content.EstimatedPayment"
                                      Disabled="@(!IsWorkingMode)" />
                </div>
                <!-- ActualPayment -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div>
                        ActualPayment
                    </div>
                    <FluentDatePicker Style="width:100%;"
                                      @bind-Value="@Content.ActualPayment"
                                      Disabled="@(!IsWorkingMode)" />
                </div>
            </div>

            <div class="col-12 row gx-2 mt-1">
                <!-- Fee -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div>
                        Fee<span class="text-danger">*</span>
                    </div>
                    <div>
                        <FluentNumberField Style="width:100%;"
                                           @bind-Value="@Content.Fee"
                                           Min="0"
                                           Disabled="@(!IsWorkingMode)" />
                    </div>
                </div>
                <!-- Vat -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div>
                        Vat<span class="text-danger">*</span>
                    </div>
                    <div>
                        <FluentNumberField Style="width:100%;"
                                           @bind-Value="@Content.Vat"
                                           Min="0"
                                           Disabled="@(!IsWorkingMode)" />
                    </div>
                </div>
            </div>

            <div class="col-12 row gx-2 mt-1">
                <!-- Total -->
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div>
                        Total
                    </div>
                    <div>
                        @Content.Total
                    </div>
                </div>
            </div>

            @if (DisplayAcions)
            {
                <div class="col-12 mb-2 mt-1 d-flex justify-content-end">
                    <FluentButton Disabled="@(!IsWorkingMode)"
                                  Appearance="Appearance.Outline"
                                  OnClick="@(async () => await Save())">Save</FluentButton>
                </div>
            }

        </div>
    }

</div>
