@page "/dashboard"

@layout MainLayout

@using EmpiriaBMS.Front.Components.Invoices
@using Microsoft.Fast.Components.FluentUI
@using EmpiriaBMS.Front.Components.General
@using EmpiriaBMS.Front.Components
@using EmpiriaBMS.Front.Components.Home.Offers
@using EmpiriaBMS.Front.Components.KPIS
@using EmpiriaBMS.Front.Horizontal
@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Components.Admin
@using Color = Microsoft.Fast.Components.FluentUI.Color
@using EmpiriaBMS.Core.Services.DBManipulation
@using EmpiriaBMS.Front.Components.WorkingHours
@using EmpiriaBMS.Front.Components.Reports
@using EmpiriaBMS.Models.Enum
@using EmpiriaBMS.Front.Components.Home

@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@inject IDataProvider _dataProvider
@inject IMapper Mapper
@inject TimerService TimerService
@inject AuthorizeServices authorizeServices
@inject SharedAuthDataService _sharedAuthData
@inject IDialogService DialogService
@inject DatabaseBackupService DatabaseBackupService
@inject Logging.LoggerManager Logger

<!-- Loading -->
<FluentOverlay @bind-Visible="@_startLoading"
               Opacity="0.1"
               BackgroundColor="#444791">
    <FluentProgressRing />
</FluentOverlay>

@if (!_startLoading)
{
    <div class="row">

        <div class="col-12" style="min-height: 0px; max-height: 80px;">
            @if(!_runInTeams)
            {
                <h2 class="m-3">Embiria BMS</h2>
            }
        </div>

        <div class="col-12">
            <FluentTabs @bind-ActiveTabId="@_activeid">

                <!-- Dashboard -->
                <FluentTab Class="my-fluent-tab mb-3"
                           LabelClass="my-fluent-tab-label"
                           Label=" Home"
                           Icon="@(new Icons.Regular.Size48.ScanDash())"
                           Id="tab-home">

                    @if (_activeid == "tab-home")
                    {
                        <Home/>
                    }

                </FluentTab>

                <!-- Invoices -->
                @if (seeInvoices)
                {
                    <FluentTab Class="my-fluent-tab"
                               LabelClass="my-fluent-tab-label"
                               Label=" Invoices"
                               Icon="@(new MyIcons.Size20.Invoices2())"
                               Id="tab-invoices">

                        @if (_activeid == "tab-invoices")
                        {
                            <div class="row justify-content-center mt-1 mb-1">
                                <div class="col-12">
                                    <Invoices @ref="@_invoiceIncomesListRef"
                                              OnSelect="@(async (i) => await _onSelectedIncomeInvoice(i))"
                                              SelectedRecord="@_selectedIncomeInvoice"
                                              IsWorkingMode="@_isWorkingMode"
                                              InvoiceCategory="@InvoiceCategory.INCOMES" />
                                </div>
                                @if (_selectedIncomeInvoice != null && _selectedIncomeInvoice.Id != 0)
                                {
                                    <div id="invoice-detailes"
                                         class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4"
                                         style="min-height: 84vh;">
                                        <InvoiceDetailed @ref="@_invoiceIncomeDetailedRef"
                                                         Content="@_selectedIncomeInvoice"
                                                         Title="Invoice Details"
                                                         OnSave="@(async (i) => await _onSaveIncomeInvoice(i))"
                                                         IsWorkingMode="@_isWorkingMode"
                                                         InvoiceCategory="@InvoiceCategory.INCOMES" />
                                    </div>
                                    <div class="col mt-4">
                                        <Payments @ref="@_invoiceIncomePaymentsRef"
                                                  Invoice="@_selectedIncomeInvoice"
                                                  IsWorkingMode="@_isWorkingMode" />
                                    </div>
                                }
                            </div>
                        }

                    </FluentTab>
                }

                <!-- Excpences -->
                @if (seeExpenses)
                {
                    <FluentTab Class="my-fluent-tab"
                               LabelClass="my-fluent-tab-label"
                               Label=" Excpences"
                               Icon="@(new MyIcons.Size20.Expenses())"
                               Id="tab-excpences">

                        @if (_activeid == "tab-excpences")
                        {
                            <div class="row justify-content-center mt-1 mb-1">
                                <div class="col-12">
                                    <Invoices @ref="@_invoiceExpensesListRef"
                                              OnSelect="@(async (i) => await _onSelectedExpenseInvoice(i))"
                                              SelectedRecord="@_selectedExpenseInvoice"
                                              IsWorkingMode="@_isWorkingMode"
                                              InvoiceCategory="@InvoiceCategory.EXPENSES" />
                                </div>
                                @if (_selectedExpenseInvoice != null && _selectedExpenseInvoice.Id != 0)
                                {
                                    <div id="invoice-detailes"
                                         class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4"
                                         style="min-height: 84vh;">
                                        <InvoiceDetailed @ref="@_invoiceExpenseDetailedRef"
                                                         Content="@_selectedExpenseInvoice"
                                                         Title="Invoice Details"
                                                         OnSave="@(async (i) => await _onSaveExpenseInvoice(i))"
                                                         IsWorkingMode="@_isWorkingMode"
                                                         InvoiceCategory="@InvoiceCategory.EXPENSES" />
                                    </div>
                                    <div class="col mt-4">
                                        <Payments @ref="@_invoiceExpensePaymentsRef"
                                                  Invoice="@_selectedExpenseInvoice"
                                                  IsWorkingMode="@_isWorkingMode" />
                                    </div>
                                }
                            </div>
                        }

                    </FluentTab>
                }

                <!-- KPIS -->
                @if (seeKpis)
                {
                    <FluentTab Class="my-fluent-tab"
                               LabelClass="my-fluent-tab-label"
                               Label=" KPIs"
                               Icon="@(new Icons.Regular.Size48.ChartPerson())"
                               Id="tab-kpis">

                        @if (_activeid == "tab-kpis")
                        {
                            <div class="row justify-content-center mt-1 mb-1">
                                <div class="col-auto" style="width: 100%; height: 100%;">
                                    <div class="m-1 row justify-content-center">
                                        <div class="col-12 p-2" style="overflow-x:hidden; margin: 0 auto;">

                                            <EmpiriaBMS.Front.Components.KPIS.Base.KPIDashboard @ref="_kpiDashRef" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </FluentTab>
                }

                <!-- TimeMGMT -->
                @if (seeTimeMGMT)
                {
                    <FluentTab Class="my-fluent-tab"
                               LabelClass="my-fluent-tab-label"
                               Label=" TimeMGMT"
                               Icon="@(new Icons.Regular.Size48.ChartPerson())"
                               Id="tab-timeMGMTRef">

                        @if (_activeid == "tab-timeMGMTRef")
                        {
                            <div class="row justify-content-center mt-1 mb-1">
                                <div class="col-auto" style="width: 100%; height: 100%;">
                                    <div class="m-1 row justify-content-center">
                                        <div class="col-12 p-2" style="overflow-x:hidden; margin: 0 auto;">

                                            <TimeMGMT @ref="_timeMGMTRef" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </FluentTab>
                }

                <!-- Admin -->
                @if (seeAdmin)
                {
                    <FluentTab Class="my-fluent-tab"
                               LabelClass="my-fluent-tab-label"
                               Label=" Admin"
                               Icon="@(new Icons.Regular.Size48.Settings())"
                               Id="tab-admin">

                        @if (_activeid == "tab-admin")
                        {
                            <div class="row justify-content-center mt-1 mb-1">
                                <div class="col-auto" style="width: 100%; height: 100%;">
                                    <div class="m-1 row justify-content-center">
                                        <div class="col-12 p-2" style="overflow-x:hidden; margin: 0 auto;">

                                            <AdminLand />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    
                    </FluentTab>
                }

            </FluentTabs>
        </div>

    </div>
   
}
