@page "/issuedetailed"

@using EmpiriaBMS.Core.Config;
@using EmpiriaBMS.Core.Dtos;
@using System.Text.Json;
@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Components.General

@inject IMapper Mapper
@inject IDataProvider DataProvider
@inject SharedAuthDataService _sharedAuthData

<div class="h-100" style="max-height: 700px; max-height: 694px; overflow-y: auto; overflow-x: hidden;">
    <h3>Create Issue</h3>

    <EditForm Model="@_issue" class="m-2">

        <div class="row">
            <div class="col form-group">
                <label for="customerId">Customer:</label> <br/>
                <strong id="customerId">@_customer?.LastName &nbsp; @_customer?.FirstName</strong>
            </div>
            <div class="col form-group">
                <label for="projectId">Project:</label> <br />
                <strong id="projectId">@_project?.Name</strong>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6">
                <FluentDatePicker Style="width: 100%;" @bind-Value="@_issue.ComplaintDate" Label="Issue Date" />
            </div>
            <div class="col-6 form-group">
                <label for="documents">Relative Documents:</label>
                <InputFile id="documents" OnChange="@HandleFileUploadDoc" multiple />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <FluentTextArea Style="width:100%;" @bind-Value="@_issue.Description" Label="Description:" Rows="3" Resize="TextAreaResize.Vertical" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <FluentSwitch @bind-Value="@_issue.IsClose">
                    IsClose
                </FluentSwitch>
            </div>
        </div>

        <!-- Parrent Accordion -->
        <FluentAccordion Class="mt-4">

            <FluentAccordionItem Expanded="true" Heading="Iso2001">

                <!-- Solution -->
                <div class="row mt-1">
                    <div class="col-12 mt-2">
                        <FluentTextArea Style="width:100%;" @bind-Value="@_issue.Solution" Label="Solution:" Rows="3" Resize="TextAreaResize.Vertical" />
                    </div>
                    <div class="col-12 mt-2">
                        <FluentDatePicker Style="width: 100%;" @bind-Value="@_issue.SolutionDate" Label="Solution Date" />
                    </div>
                </div>

                <!-- Evaluation -->
                <div class="row mt-1">
                    <div class="col-12 mt-2">
                        <FluentTextArea Style="width:100%;" @bind-Value="@_issue.Evaluation" Label="Evaluation:" Rows="3" Resize="TextAreaResize.Vertical" />
                    </div>
                </div>

                <!-- Verification -->
                <div class="row mt-1">
                    <div class="col-12 mt-2">
                        <FluentTextArea Style="width:100%;" @bind-Value="@_issue.Verification" Label="Verification:" Rows="3" Resize="TextAreaResize.Vertical" />
                    </div>
                    <div class="col-12 mt-2">
                        <FluentDatePicker Style="width: 100%;" @bind-Value="@_issue.VerificationDate" Label="Verification Date" />
                    </div>
                    <div class="col-12 form-group mt-2">
                        <label for="verificatorSignature">Verificator Signature:</label>
                        <div>
                            <SignaturePad @ref="verificatorSignature" Id="verificatorSignature" />
                        </div>
                    </div>
                </div>

            </FluentAccordionItem>

        </FluentAccordion>

        <!-- Submit -->
        <div class="row mt-4">
            <div class="col-12 form-group mt-2">
                <label for="pMSignature">Project Manager Signature:</label>
                <div>
                    <SignaturePad @ref="pMSignature" Id="pMSignature" />
                </div>
            </div>
        </div>

    </EditForm>
</div>
