@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper

<div class="container-fluid m-2" style="max-width: 74vw !important;">

    <h3>Key Performance Indicators (KPIS)</h3>


    @if (_loading)
    {
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px;">
            <FluentProgressRing />
        </div>
        @*
            <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
                <FilterProgressRing FilterLoading="@_startLoading" />
            </div>
        *@
    }
    else {

        <FluentTabs @bind-ActiveTabId="@activeid" OnTabChange="HandleOnTabChange">

            @if (SeeTenderTableKPI)
            {
                <FluentTab LabelClass="fs-1 fw-bold" Label="Tender Table" Icon="@(new Icons.Regular.Size24.Table())" Id="tab-1">
                    <div style="height: 300px;">
                        <TenderTable />
                    </div>
                </FluentTab>
            }

            @if (SeeTenderTableKPI)
            {
                <FluentTab LabelClass="fs-1 fw-bold" Label="Hours Per Role Bar Graph" Id="tab-2">
                    <div style="height: 300px;">
                        <Chart Height="300" Config="_hoursPerRoleBarConfig"></Chart>
                    </div>
                </FluentTab>
            }

            @if (SeeHoursPerRoleKPI)
            {
                <FluentTab LabelClass="fs-1 fw-bold" Label="Hours Per Role Pie Graph" Id="tab-3">
                    <div style="height: 300px;">
                        <Chart Height="300" Config="_hoursPerRolePieConfig"></Chart>
                    </div>
                </FluentTab>
            }

            @if (SeeActiveDelayedProjectsKPI)
            {
                <FluentTab LabelClass="fs-1 fw-bold" Label="Delayed Projects Bar Graph" Id="tab-4">
                    <div style="height: 300px;">
                        <Chart Height="300" Config="_delayedProjectsBarConfig"></Chart>
                    </div>
                </FluentTab>
            }

            @if (SeeActiveDelayedProjectsTypesCounterKPI)
            {
                <FluentTab LabelClass="fs-1 fw-bold" Label="Delayed Project Types Bar Graph" Id="tab-5">
                    <div style="height: 300px;">
                        <Chart Height="300" Config="_delayedProjectsTypesBarConfig"></Chart>
                    </div>
                </FluentTab>
            }

            @if (SeeAllProjectsMissedDeadLineKPI || SeeMyProjectsMissedDeadLineKPI)
            {
                <FluentTab LabelClass="fs-1 fw-bold" Label="Projectes Missed Deadline" Id="tab-6">
                    <div class="col row mt-5" style="max-width: 30vw !important;">
                        <div class="col-11">
                            <h5>Projects missed deadline: </h5>
                        </div>
                        <div class="col-1">
                            <h6>@_missedDeadLineProject.ToString("N2")%</h6>
                        </div>
                    </div>
                </FluentTab>
            }

            @if (SeeEmployeeTurnoverKPI)
            {
                <FluentTab LabelClass="fs-1 fw-bold" Label="Employees Turnover" Id="tab-7">
                    <div class="col table-responsive">
                        <table class="table table-hover table-success text-center caption-top">
                            <caption>Employee turnover kpi:</caption>
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Turnover</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>--</td>
                                    <td>No Ready Yet</td>
                                </tr>
                                @* @foreach (var item in _delayedProjects)
                                {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Active</td>
                                </tr>
                                } *@
                            </tbody>
                        </table>
                    </div>
                </FluentTab>
            }

        </FluentTabs>

    }

</div>
