@using EmpiriaBMS.Front.Services

@inject IDataProvider _dataProvider
@inject IMapper _mapper

<div class="text-center row me-2"
     style="max-width: 1000px !important; margin: 0 auto;">

    <!-- Title -->
    <h3 class="col-10 text-start">Payments</h3>

    <!-- Add New Invoice -->
    <span class="grommet-icons--add text-end col-2"
          @onclick="@(() => _addPayment())" />

</div>

<div class="table-responsive p-1 table-container"
     style="max-width: 1000px !important; margin: 0 auto;">
    <table class="table table-hover text-center text-nowrap">
        <thead class="table-success">
            <tr>
                <th scope="col" class="sticky-header">Invoice</th>
                <th scope="col" class="sticky-header">Type</th>
                <th scope="col" class="sticky-header">Bank</th>
                <th scope="col" class="sticky-header">Paid Fee</th>
                <th scope="col" class="sticky-header">Fee</th>
                <th scope="col" class="sticky-header">Description</th>
                <th scope="col" class="sticky-header">Estimated Date</th>
                <th scope="col" class="sticky-header">Payment Date</th>
                <th scope="col" class="sticky-header">Days Until Payment</th>
                <th scope="col" class="sticky-header">Pending Fee</th>
                <th scope="col" class="sticky-header">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in _payments)
            {
                <tr class="align-middle">

                    <td style="min-width: 400px;">
                        <select class="form-select"
                                @bind="@payment.InvoiceId" style="min-width: 150px;">
                            @foreach (var i in @_invoices)
                            {
                                <option value="@i.Id">
                                    <span>Mark: @i.Mark, Var: @i.Vat, Fee: @i.Fee, Total: @i.Total</span>
                                </option>
                            }
                        </select>
                    </td>

                    <td style="min-width: 150px;">
                        <select class="form-select"
                                @bind="@payment.TypeId" style="min-width: 150px;">
                            @foreach (var type in @_types)
                            {
                                <option value="@type.Id">
                                    <span>@type.Name</span>
                                </option>
                            }
                        </select>
                    </td>

                    <td style="min-width: 140px;">
                        <input type="text"
                               class="form-control"
                               @bind-value="@payment.Bank">
                    </td>

                    <td style="min-width: 150px;">
                        <input type="number"
                               class="form-control"
                               @bind-value="@payment.PaidFee">
                    </td>

                    <td style="min-width: 100px;">
                        <input type="number"
                               class="form-control"
                               @bind-value="@payment.Fee">
                    </td>

                    <td style="min-width: 200px;">
                        <FluentTextArea Style="min-width: 200px;" @bind-Value="@payment.Description" Rows="1" Resize="TextAreaResize.Vertical"/>
                    </td>

                    <td style="min-width: 150px;">
                        <input type="date"
                               class="form-control"
                               @bind-value="@payment.EstimatedDate">
                    </td>

                    <td style="min-width: 150px;">
                        <input type="date"
                               class="form-control"
                               @bind-value="@payment.PaymentDate">
                    </td>

                    <td style="min-width: 150px;">
                        <span>@_displayDayesUntilPayment(payment)</span>
                    </td>

                    <td style="min-width: 150px;">
                        <span>@(@payment.Fee - @payment.PaidFee)</span>
                    </td>

                    <td style="min-width: 50px;">
                        <span class="fluent--delete-28-regular"
                              @onclick="@(() => _deletePayment(payment))" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-12 text-end">
        <FluentButton Appearance="Appearance.Outline"
                      OnClick="@(async () => await _save())">
            Save
        </FluentButton>
    </div>
</div>
