@using EmpiriaBMS.Front.Services

@inject IDataProvider _dataProvider
@inject IMapper _mapper

<div class="text-center row me-2"
     style="max-width: 1000px !important; margin: 0 auto;">

    <!-- Title -->
    <h3 class="col-2 text-start">Payments</h3>

    <!-- Selecte Invoice -->
    <div class="col-4">
        @if (_projectsInvoices.Count() > 0)
        {
            <select class="form-select" @onchange="@(async (e) => await _onInvoiceSelected(e))">
                @foreach (var invoice in @_projectsInvoices)
                {
                    <option value="@invoice.Id">
                        <span>@invoice.Date &ensp; @invoice.Mark &ensp; @invoice.Number &ensp; @invoice.Total &ensp; @invoice.Vat &ensp; @invoice.Fee</span>
                    </option>
                }
            </select>
        }
    </div>

    <!-- Selecte Payment -->
    <div class="col-4">
        @if (_selectedInvoice != null)
        {
            var freePayments = _allPayments.Where(i => !_invoicesPayments.Select(pi => pi.Id).Contains(i.Id));
            @if (freePayments.Count() > 0)
            {
                <select class="form-select" @onchange="@_onPaymentSelected">
                    @foreach (var payment in @freePayments)
                    {
                        <option value="@payment.Id">
                            <span>@payment.Type.Name &ensp; @payment.Bank &ensp; @payment.Fee &ensp; @payment.PaidFee &ensp; @payment.PaymentDate?.ToEuropeFormat() &ensp;  @payment.EstimatedDate?.ToEuropeFormat() ?? "--" &ensp; </span>
                        </option>
                    }
                </select>
            }
        }
    </div>

    <!-- Add New Invoice -->
    <span class="grommet-icons--add text-end col-2"
          @onclick="@(() => _addPayment())" />

</div>

<div class="table-responsive p-1 table-container"
     style="max-width: 1000px !important; margin: 0 auto;">
    <table class="table table-hover text-center text-nowrap">
        <thead class="table-success">
            <tr>
                <th scope="col" class="sticky-header">Type</th>
                <th scope="col" class="sticky-header">Bank</th>
                <th scope="col" class="sticky-header">Fee</th>
                <th scope="col" class="sticky-header">Paid Fee</th>
                <th scope="col" class="sticky-header">Description</th>
                <th scope="col" class="sticky-header">Estimated Date</th>
                <th scope="col" class="sticky-header">Payment Date</th>
                <th scope="col" class="sticky-header">Days Until Payment</th>
                <th scope="col" class="sticky-header">Pending Fee</th>
                <th scope="col" class="sticky-header">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in _invoicesPayments)
            {
                <tr class="align-middle">

                    <td style="min-width: 150px;">
                        <select class="form-select" @bind="@payment.TypeId" style="min-width: 150px;">
                            @foreach (var type in @_types)
                            {
                                <option value="@type.Id">
                                    <span>@type.Name</span>
                                </option>
                            }
                        </select>
                    </td>

                    <td style="min-width: 100px;">
                        <input type="text"
                               class="form-control"
                               @bind="@payment.Bank">
                    </td>

                    <td style="min-width: 100px;">
                        <input type="number"
                               class="form-control"
                               @bind="@payment.Fee">
                    </td>

                    <td style="min-width: 150px;">
                        <input type="number"
                               class="form-control"
                               @bind="@payment.PaidFee">
                    </td>

                    <td style="min-width: 200px;">
                        <textarea class="form-control"
                                  rows="1"
                                  @bind="@payment.Description"
                                  style="min-width: 200px;">
                        </textarea>
                    </td>

                    <td style="min-width: 150px;">
                        <input type="date"
                               class="form-control"
                               @bind="@payment.EstimatedDate">
                    </td>

                    <td style="min-width: 150px;">
                        <input type="date"
                               class="form-control"
                               @bind="@payment.PaymentDate">
                    </td>

                    <td style="min-width: 150px;">
                        <span>@((DateTime.Now - (@payment.PaymentDate ?? DateTime.Now)).DisplayHMS())</span>
                    </td>

                    <td style="min-width: 150px;">
                        <span>@(@payment.Fee = @payment.PaidFee)</span>
                    </td>

                    <td style="min-width: 50px;">
                        <span class="fluent--delete-28-regular"
                              @onclick="@(() => _deletePayment(payment))" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-12 text-end">
        <button type="button" class="btn btn-outline-secondary" @onclick="@(async () => await _save())">Save</button>
    </div>
</div>
