@page "/"
@page "/projects"
@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@inject IDataProvider DataProvider
@inject IMapper Mapper

<!-- card shadow bg-white rounded container text-center align-middle -->
<div class="row justify-content-center mt-1 mb-1">
    <div class="col-auto" style="width: 100%; height: 100%;">
        @if (startLoading)
        {
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20%;">
                <FluentProgressRing />
            </div>
        }
        else
        {
            <div class="row m-5">

                <div class="p-2 col-lg-9 card shadow"
                     style="overflow-x:hidden; margin: 0 auto;">
                    
                     <!-- Headder -->
                    <div class="mt-2">
                        @if (_logedUser != null)
                        {
                            <div class="row ms-2 me-2" style="overflow:hidden;">
                                <div class="col-lg-9 col-md-7 col-sm-7">
                                    @foreach (var role in _logedUser.Roles)
                                    {
                                        <h4><b>@role.Name</b></h4>
                                    }
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 me-2">
                                    <span class="icon-park--add-web"
                                          style="margin-top: 14%;"
                                          @onclick="@_addRecord"></span>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-4 row primary-bg-color rounded-1">
                                    <FluentButton BackgroundColor="Transparent"
                                                  Appearance="Appearance.Lightweight"
                                                  @onclick="@(() => ToogleEditHoursDialog(true))">
                                        <span class="mt-2">@(_logedUser.Hours) Hours</span>
                                        <FluentIcon Icon="Edit" />
                                    </FluentButton>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- Table -->
                    <div class="table-responsive" style="min-height: 50vh;">
                        <table class="table table-hover thead-light text-center">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox"
                                               class="big-checkbox"
                                               @bind="IsAllChecked"
                                               @onclick="SelectionChanged" />
                                    </th>
                                    <th scope="col">Name</th>
                                    <th scope="col">PlanType</th>
                                    <th scope="col">Drawing</th>
                                    <th scope="col">Completed</th>
                                    <th scope="col">ManHours</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in _projects)
                                {
                                    <tr clss="align-middle d-flex" @onclick="@(() => OnSelectProject(project))">
                                        <th scope="row"
                                            class="align-middle @((_selectedProject.Id.Equals(project.Id)? "highlight" : ""))"
                                            style="min-width: 60px;">
                                            <input type="checkbox"
                                                   class="mt-2 big-checkbox"
                                                   @bind="project.IsChecked" />
                                        </th>
                                        <td class="align-middle @((_selectedProject.Id.Equals(project.Id)? "highlight" : ""))"
                                            style="min-width: 110px;">
                                            <input type="text" class="form-control" @bind="project.Name">
                                        </td>
                                        <td class="align-middle @((_selectedProject.Id.Equals(project.Id)? "highlight" : ""))"
                                            style="min-width: 110px;">
                                            <select class="form-select"
                                                    @bind="project.PlanType">
                                                @foreach (var opt in projectPlanTypes)
                                                {
                                                    <option value="@opt">@opt</option>
                                                }
                                            </select>
                                        </td>
                                        <td class="align-middle @((_selectedProject.Id.Equals(project.Id)? "highlight" : ""))"
                                            style="min-width: 110px;">
                                            <input type="text"
                                                   class="form-control"
                                                   @bind="project.Drawing">
                                        </td>
                                        <td class="align-middle @((_selectedProject.Id.Equals(project.Id)? "highlight" : ""))"
                                            style="min-width: 120px;">
                                            <div class="input-group">
                                                <input type="number" class="form-control" @bind="project.Completed">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle @((_selectedProject.Id.Equals(project.Id)? "highlight" : ""))"
                                            style="min-width: 120px;">
                                            <div class="input-group">
                                                <input type="number" class="form-control" @bind="project.ManHours">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">h</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: right;">
                        <Paginator Renderer="@_getProjects" SetPeginator="@_paginator" />
                    </div>
                
                </div>

                <div class="col-lg-3 mt-md-0 mt-sm-4 p-0 overflow-hidden">

                    <!-- Selected Invoice -->
                    <div class="w-xl-90 w-lg-90 w-md-100 w-sm-100
                                mt-xl-0 mt-lg-0 mt-md-4 mt-sm-4
                                me-lg-1 me-md-1 me-md-0 me-sm-0
                                ms-xl-3 ms-lg-3 ms-md-0 ms-sm-0">
                        <InvoiceDetails Invoice="@_selectedInvoice" />
                    </div>

                    <!-- Controlls Buttons -->
                    <div class="mt-5 mb-3 d-flex justify-content-evenly">
                        <span class="fluent--delete-28-regular shadow" @onclick=@_onDeleteBtnClcked></span>
                        <span class="fluent--save-28-regular shadow" @onclick=@(async () => await _onSaveClicked())></span>
                    </div>

                </div>
                
            </div>
        }
    </div>
</div>

<FilterProgressRing FilterLoading="@filterLoading"/>

<!-- Edit Hours Dialos -->
<FluentDialog @ref="_editHoursDialog"
              Hidden=@(startLoading || !isEditDialogOdepened)
              Modal="false"
              Style="--dialog-width: 200px; --dialog-height: 150px;">

    <h3>Edit Hours:</h3>

    <input type="number"
           min="-24"
           max="24"
           class="form-control"
           id="invoiceNumber"
           @bind="@_hoursToChange"/>
    
    <div class="mt-2 row">
        <FluentButton class="col-6" OnClick=@UpdateHours>
            Ok
        </FluentButton>
        <FluentButton class="col-6" OnClick=@(() => ToogleEditHoursDialog(false))>
            Cancel
        </FluentButton>
    </div>

</FluentDialog>

<!-- Accept Dialog -->
<FluentDialog @ref="_acceptDialog"
              Hidden="@(startLoading || !isAcceptDialogOdepened)"
              Modal="false">

    <h3 class="text-warning">@_acceptDialogMsg</h3>

    @if (deleteLoading)
    {
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 5%;">
            <FluentProgressRing />
        </div>
    }

    @if (_acceptButtons)
    {
        <div class="mt-2 row">
            <FluentButton class="col-6" OnClick="@(async () => await _acceptDialogOnAccept())">
                Ok
            </FluentButton>
            <FluentButton class="col-6" OnClick="@(() => ToogleAcceptDialog(false))">
                Cancel
            </FluentButton>
        </div>
    }

</FluentDialog>