@using EmpiriaBMS.Front.ViewModel.Components;
@using Microsoft.AspNetCore.Components;
@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Core.Config;
@using EmpiriaBMS.Core.Dtos;
@using System.Text.Json;

@inject IMapper Mapper
@inject IDataProvider DataProvider
@inject SharedAuthDataService _sharedAuthData

<div class="w-96 h-100"
     style="overflow-x: hidden; overflow-y: auto; max-height: 700px;">

    <h3 class="mt-1 mb-1 ms-3">Project</h3>

    <EditForm Model="@_project"
              class="row mt-3 gx-2 p-2">

        <div class="p-2 col-12">

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <!-- New Group -->
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="cgroup">Create Group</label>
                            <InputText id="cgroup" 
                                       @bind-Value="@_createdGroup.Name"
                                       @oninput="_onGroupNameChange"
                                       class="form-control" />
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn btn-light mt-1 float-end"
                                    disabled="@(!_validator.CreateGroupValid)"
                                    @onclick="@(async () => await _createGroup())">Create</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- Project Group -->
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Project Group</label>
                            <select class="form-select" @onchange="((e) => _updateProjectGroup(e))">
                                @if (_project.GroupId == 0)
                                {
                                    <option value="0" selected>Selecte Group</option>
                                }
                                @foreach (var projectGroup in _projectGroups)
                                {
                                    @if (_project.GroupId == projectGroup.Id)
                                    {
                                        <option value="@projectGroup.Id" selected>@projectGroup.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@projectGroup.Id">@projectGroup.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-12">
                            @if (!_validator.GroupIdValid)
                            {
                                <label class="error float-start">@_validator.GroupIdErr</label>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <!-- Name -->
                    <div class="form-group">
                        <label for="name">Name</label>
                        <InputText id="name" @bind-Value="@_project.Name" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- Code -->
                    <div class="form-group">
                        <label for="code">Code</label>
                        @if (seeCode)
                        {
                            <InputText id="code" @bind-Value="@_project.Code" class="form-control" />
                        }
                        else
                        {
                            <InputText id="code" @bind-Value="@defaultCodeValue" class="form-control" disabled />
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <!-- Project Stage -->
                    <div class="form-group">
                        <label>Project Stage</label>
                        <select class="form-select" @onchange="((e) => _updateProjectStage(e))">
                            @if (_project.StageId == 0)
                            {
                                <option value="0" selected>Selecte Stage</option>
                            }
                            @foreach (var projectStage in _projectStages)
                            {
                                @if (_project.StageId == projectStage.Id)
                                {
                                    <option value="@projectStage.Id" selected>@projectStage.Name</option>
                                }
                                else
                                {
                                    <option value="@projectStage.Id">@projectStage.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- ProjectType -->
                    <div class="form-group">
                        <label>ProjectType</label>
                        <select class="form-select" @onchange="((e) => _updateProjectType(e))">
                            @if (_project.TypeId == 0)
                            {
                                <option value="0" selected>Selecte Type</option>
                            }
                            @foreach (var projectType in _projectTypes)
                            {
                                @if (_project.TypeId == projectType.Id)
                                {
                                    <option value="@projectType.Id" selected>@projectType.Name</option>
                                }
                                else
                                {
                                    <option value="@projectType.Id">@projectType.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <!-- Fee -->
                    <div class="form-group">
                        <label for="fee">Fee</label>
                        <input type="number"
                               class="form-control"
                               id="fee"
                               @bind="@_project.Fee">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- Active -->
                    <div class="row mt-4 float-end" style="width: 134px;">
                        <label class="col-8" for="active">Is Active</label>
                        <input class="col-4 big-checkbox" id="active" type="checkbox" @bind="_project.Active" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <!-- StartDate -->
                    <div class="form-group">
                        <label for="durationDate">StartDate</label>
                        <input type="date"
                               class="form-control"
                               id="durationDate"
                               @bind="@_project.StartDate">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- DeadLine -->
                    <div class="form-group">
                        <label for="estimatedDate">DeadLine</label>
                        <input type="date"
                               class="form-control"
                               id="estimatedDate"
                               @bind="@_project.DeadLine">
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="col-12 form-group">
                <label for="description">Description</label>
                <textarea class="form-control"
                          name="composeContent"
                          id="description"
                          row="7"
                          @bind="@_project.Description" />
            </div>

        </div>

    </EditForm>

</div>