@page "/"
@page "/projects"
@using Microsoft.Fast.Components.FluentUI

@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@inject IDataProvider DataProvider
@inject IMapper Mapper

<div class="row justify-content-center mt-1 mb-1">
    <div class="col-auto" style="width: 100%; height: 100%;">
        @if (startLoading)
        {
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20%;">
                <FluentProgressRing />
            </div>
        }
        else
        {
            <div class="m-1 row justify-content-center">

                <div class="col-12 p-2"
                     style="overflow-x:hidden; margin: 0 auto;">
                    
                     <!-- Headder -->
                    <div class="mt-2 shadow p-2">
                        @if (_logedUser != null)
                        {
                            <div class="row ms-2 me-8" style="overflow:hidden;">
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    @foreach (var role in _loggedUserRoles)
                                    {
                                        <h4><b>@_logedUser.LastName @_logedUser.FirstName</b></h4>
                                    }
                                </div>
                                <div class="col-lg-2 col-md-8 col-sm-8">
                                    @if (workStarted)
                                    {
                                        <button type="button" class="btn btn-secondary btn-lg"
                                                @onclick="@ToogleWorkStatus">
                                            End Work
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-primary btn-lg"
                                                @onclick="@ToogleWorkStatus">
                                            Start Work
                                        </button>
                                    }
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-4 row primary-bg-color rounded-1 text-center">
                                    <span class="mt-2 h5">
                                        @if (hoursPassed != null)
                                        {
                                            <span>@hoursPassed / </span>
                                        }
                                        <strong>@(_logedUser.Hours)</strong>h</span>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row mt-3 p-1
                                gx-xl-2 gx-lg-2 gx-md-2 gx-sm-2
                                gy-xl-0 gy-lg-5 gy-md-5 gy-sm-5">

                        <!-- Table Projects -->
                        <div class="col-xxl-3 col-xl-7 col-lg-7 col-md-7 col-sm-12
                                    table-responsive p-1 table-container">
                            <table class="table table-hover table-success text-center">
                                <thead>
                                    <tr>
                                        <th scope="col" class="sticky-header">Project</th>
                                        <th scope="col" class="sticky-header">W.P.Completed</th>
                                        <th scope="col" class="sticky-header">Deadline</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var project in _projects)
                                    {
                                        <tr clss="align-middle d-flex"
                                            @onclick="@(async () => await OnSelectProject(project))">
                                            <td class="align-middle
                                                @((_selectedProject == null || 
                                                        !_selectedProject.Id.Equals(project.Id)
                                                                        ? "" : "highlight_1"))"
                                                style="word-wrap: break-word;min-width: 110px;max-width: 110px;">
                                                <labe>@project.Name</labe>
                                            </td>
                                            <td class="align-middle
                                                @((_selectedProject == null ||
                                                        !_selectedProject.Id.Equals(project.Id)
                                                                        ? "" : "highlight_1"))"
                                                style="min-width: 120px;">
                                                <label>@project.WorkPackegedCompleted %</label>
                                            </td>
                                            <td class="align-middle
                                                @((_selectedProject == null ||
                                                        !_selectedProject.Id.Equals(project.Id)
                                                                        ? "" : "highlight_1"))"
                                                style="min-width: 120px;">
                                                <label>@project.DeadlineDisplay</label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- Table Disciplines -->
                        @if (_selectedProject != null)
                        {
                            <div class="col-xxl-3 col-xl-5 col-lg-5 col-md-5 col-sm-12
                                        table-responsive p-1 table-container">
                                <table class="table table-hover table-info text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="sticky-header">Discipline</th>
                                            <th scope="col" class="sticky-header">EstimatedMenHours</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var discipline in _disciplines)
                                        {
                                            <tr clss="align-middle d-flex"
                                            @onclick="@(async () => await OnSelectDiscipline(discipline))">
                                                <td class="align-middle
                                                @(((_selectedDiscipline == null
                                                        || !_selectedDiscipline.Id.Equals(discipline.Id))
                                                            ? "" : "highlight_2"))"
                                                    style="min-width: 90px;max-width: 90px; margin: 0 auto;">
                                                    <labe>@discipline.Name</labe>
                                                </td>
                                                <td class="align-middle text-center
                                                @(((_selectedDiscipline == null
                                                        || !_selectedDiscipline.Id.Equals(discipline.Id))
                                                            ? "" : "highlight_2"))">
                                                    <label>@discipline.EstimatedMenHours Hours</label>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                        <!-- Table Draws -->
                        @if (_selectedDiscipline != null)
                        {
                            <div class="col-xxl-4 col-xl-7 col-lg-7 col-md-7 col-sm-12
                                        table-responsive p-1 table-container">
                                <table class="table table-hover table-primary text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="sticky-header">Drawings</th>
                                            <th scope="col" class="sticky-header">Hours</th>
                                            <th scope="col" class="sticky-header">Completed</th>
                                            <th scope="col" class="sticky-header">CompletionDate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var draw in _draws)
                                        {
                                            <tr class="align-middle" @onclick="@(() => OnSelectDraw(draw))">

                                                <td class="align-middle
                                                    @(((_selectedDraw == null ||
                                                            !_selectedDraw.Id.Equals(draw.Id))
                                                                ? "" : "highlight_3"))"
                                                    style="min-width: 90px;max-width: 90px;">
                                                    <div class="align-middle h-100"><labe>@draw.Name</labe></div>
                                                </td>

                                                <td class="align-middle
                                                    @(((_selectedDraw == null ||
                                                            !_selectedDraw.Id.Equals(draw.Id))
                                                                ? "" : "highlight_3"))"
                                                    style="min-width: 90px;max-width: 90px;">
                                                    <div>@CurentDate</div> <label>@draw.ManHours h</label>
                                                    <div class="input-group">
                                                        <input type="number"
                                                               class="form-control"
                                                               disabled="@(!workStarted)"
                                                               EnableMinMax="true"
                                                               Min="0"
                                                               Max="@hoursPassed"
                                                               @onchange="(async (e) => await _onDrawHoursChanged(draw, e.Value))">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">h</span>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td class="align-middle
                                                    @(((_selectedDraw == null ||
                                                        !_selectedDraw.Id.Equals(draw.Id))
                                                            ? "" : "highlight_3"))"
                                                    style="min-width: 90px;max-width: 90px;">
                                                    <label>@draw.CompletionEstimation %</label>
                                                </td>

                                                <td class="align-middle
                                                    @(((_selectedDraw == null ||
                                                        !_selectedDraw.Id.Equals(draw.Id))
                                                            ? "" : "highlight_3"))"
                                                    style="min-width: 90px;max-width: 90px;">
                                                    <label>@draw.CompletionDateDisplay</label>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                        <!-- Table Docs -->
                        @if (_selectedDiscipline != null)
                        {
                            <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-5 col-sm-12
                                        table-responsive p-1 table-container">
                                <table class="table table-hover table-primary text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="sticky-header">Docs</th>
                                            <th scope="col" class="sticky-header">Hours</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var doc in _docs)
                                        {
                                            <tr class="align-middle" @onclick="@(() => OnSelectDoc(doc))">

                                                <td class="align-middle
                                                @(((_selectedOther == null ||
                                                        !_selectedOther.Id.Equals(doc.Id))
                                                            ? "" : "highlight_4"))"
                                                style="min-width: 110px;">
                                                    <div class="align-middle h-100"><labe>@doc.Name</labe></div>
                                                </td>

                                                <td class="align-middle
                                                    @(((_selectedOther == null ||
                                                            !_selectedOther.Id.Equals(doc.Id))
                                                                ? "" : "highlight_4"))"
                                                    style="min-width: 90px;max-width: 90px; margin: 0 auto;">
                                                    <div>@CurentDate</div> <label>@doc.ManHours h</label>
                                                    <div class="input-group"
                                                        style="min-width: 90px;max-width: 90px; margin: 0 auto;">
                                                            <input type="number"
                                                                   class="form-control"
                                                                   EnableMinMax="true"
                                                                   Min="0"
                                                                   Max="@hoursPassed"
                                                                   disabled="@(!workStarted)"
                                                                   @onchange="(async (e) => await _onDocHoursChanged(doc, e.Value))">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">h</span>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>

                    <!-- Paginator -->
                    @* <div style="text-align: right;">
                        <Paginator Renderer="@_getProjects" Peginator="@_paginator" />
                    </div> *@
                
                </div>
                
            </div>
        }
    </div>
</div>

<FilterProgressRing FilterLoading="@filterLoading"/>
