@page "/"
@page "/projects"
@using Microsoft.Fast.Components.FluentUI

@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@inject IDataProvider DataProvider
@inject IMapper Mapper

<div class="row justify-content-center mt-1 mb-1">
    <div class="col-auto" style="width: 100%; height: 100%;">
        @if (startLoading)
        {
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20%;">
                <FluentProgressRing />
            </div>
        }
        else
        {
            <div class="m-1 row justify-content-center">

                <div class="col-12 p-2"
                     style="overflow-x:hidden; margin: 0 auto;">
                    
                     <!-- Headder -->
                    <div class="mt-2 shadow p-2">
                        @if (_logedUser != null)
                        {
                            <div class="row ms-2 me-8" style="overflow:hidden;">
                                <div class="col-lg-4 col-md-8 col-sm-8">
                                    <div class="row">
                                        <div class="col">
                                            <h4>
                                                <b>
                                                    @_logedUser.LastName @_logedUser.FirstName
                                                </b>
                                            </h4>
                                        </div>
                                        <div class="col">
                                            <h6 class="mt-1">@CurentDate</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-8 col-sm-8">
                                    <div class="d-grid">
                                        @if (workStarted)
                                        {
                                            <button type="button" class="btn btn-danger btn-lg w-50"
                                                    @onclick="@(() => ToogleWorkStatus())">
                                                Press Work End
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-success btn-lg w-50"
                                                    @onclick="@(() => ToogleWorkStatus())">
                                                Press Work Start
                                            </button>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 
                                            row primary-bg-color rounded-1 text-center">
                                    <span class="mt-2 h5">
                                        @if (hoursPassed != null)
                                        {
                                            <span>@hoursPassed / </span>
                                        }
                                        @{
                                            if (_selectedProject != null && _selectedDiscipline == null)
                                            {
                                                <span>Estimate Project Hours: </span>

                                                <b>@_selectedProject.EstimatedHours</b>
                                            }
                                            else if (_selectedProject != null && _selectedDiscipline != null)
                                            {
                                                <span>Discipline Hours: </span>

                                                <b>@_selectedDiscipline.MenHours</b>
                                            }
                                            else
                                            {
                                                <span>MyHours This Week: </span>

                                                <b>@_logedUser.Hours</b>
                                            }
                                        }
                                    </span>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row mt-3 p-1
                                gx-xl-2 gx-lg-2 gx-md-2 gx-sm-2
                                gy-xl-0 gy-lg-5 gy-md-5 gy-sm-5">

                        <!-- Table Projects -->
                        @if (!_isEndWorkDialogOdepened)
                        {
                            <div class="col-xxl-3 col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div>
                                    <h3>Projects</h3>
                                </div>
                                <div class="table-responsive p-1 table-container">
                                    <table class="table table-hover table-success text-center">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="sticky-header">Project</th>
                                                <th scope="col" class="sticky-header">W.P.Completed</th>
                                                <th scope="col" class="sticky-header">Deadline</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var project in _projects)
                                            {
                                                <tr clss="align-middle d-flex"
                                                    @onclick="@(async () => await OnSelectProject(project.Id))">
                                                    <td class="align-middle
                                                        @((_selectedProject == null || 
                                                                !_selectedProject.Id.Equals(project.Id)
                                                                                ? "" : "highlight_1"))"
                                                        style="word-wrap: break-word;min-width: 110px;max-width: 110px;">
                                                        <labe>@project.Name</labe>
                                                    </td>
                                                    <td class="align-middle
                                                        @((_selectedProject == null ||
                                                                !_selectedProject.Id.Equals(project.Id)
                                                                                ? "" : "highlight_1"))"
                                                        style="min-width: 120px;">
                                                        <label>@project.WorkPackegedCompleted %</label>
                                                    </td>
                                                    <td class="align-middle
                                                        @((_selectedProject == null ||
                                                                !_selectedProject.Id.Equals(project.Id)
                                                                                ? "" : "highlight_1"))"
                                                        style="min-width: 120px;">
                                                        <label>@project.DeadlineDisplay</label>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                        <!-- Table Disciplines -->
                        @if (_selectedProject != null && !_isEndWorkDialogOdepened)
                        {
                            <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div>
                                    <h3>Disciplines</h3>
                                </div>
                                <div class="table-responsive p-1 table-container">
                                    <table class="table table-hover table-info text-center">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="sticky-header">Discipline</th>
                                                <th scope="col" class="sticky-header">Esti/MenHours</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var discipline in _disciplines)
                                            {
                                                <tr clss="align-middle d-flex"
                                                @onclick="@(async () => await OnSelectDiscipline(discipline.Id))">
                                                    <td class="align-middle
                                                    @(((_selectedDiscipline == null
                                                            || !_selectedDiscipline.Id.Equals(discipline.Id))
                                                                ? "" : "highlight_2"))"
                                                        style="min-width: 90px;max-width: 90px; margin: 0 auto;">
                                                        <labe>@discipline.Name</labe>
                                                    </td>
                                                    <td class="align-middle text-center
                                                    @(((_selectedDiscipline == null
                                                            || !_selectedDiscipline.Id.Equals(discipline.Id))
                                                                ? "" : "highlight_2"))">
                                                        <label>@discipline.MenHours Hours</label>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                        <!-- Table Draws -->
                        @if (_selectedDiscipline != null && !_isEndWorkDialogOdepened)
                        {
                            <div class="col-xxl-5 col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div>
                                    <h3>Deliverables</h3>
                                </div>
                                <div class="table-responsive p-1 table-container">
                                    <table class="table table-hover table-primary text-center">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="sticky-header">Drawing</th>
                                                <th scope="col" class="sticky-header">Total Hours</th>
                                                <th scope="col" class="sticky-header">Completed</th>
                                                <th scope="col" class="sticky-header">CompletionDate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var draw in _draws)
                                            {
                                                <tr class="align-middle" @onclick="@(() => OnSelectDraw(draw))">

                                                    <td class="align-middle
                                                        @(((_selectedDraw == null ||
                                                                !_selectedDraw.Id.Equals(draw.Id))
                                                                    ? "" : "highlight_3"))"
                                                        style="min-width: 90px;max-width: 90px;">
                                                        <div class="align-middle h-100"><labe>@draw.Name</labe></div>
                                                    </td>

                                                    <td class="align-middle
                                                        @(((_selectedDraw == null ||
                                                                !_selectedDraw.Id.Equals(draw.Id))
                                                                    ? "" : "highlight_3"))"
                                                        style="min-width: 90px;max-width: 90px;">
                                                        <label>@draw.MenHours h</label>
                                                    </td>

                                                    <td class="align-middle
                                                        @(((_selectedDraw == null ||
                                                            !_selectedDraw.Id.Equals(draw.Id))
                                                                ? "" : "highlight_3"))"
                                                        style="min-width: 90px;max-width: 90px;">
                                                        <label>@draw.CompletionEstimation %</label>
                                                    </td>

                                                    <td class="align-middle
                                                        @(((_selectedDraw == null ||
                                                            !_selectedDraw.Id.Equals(draw.Id))
                                                                ? "" : "highlight_3"))"
                                                        style="min-width: 90px;max-width: 90px;">
                                                        <label>@draw.CompletionDateDisplay</label>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                        <!-- Table Others -->
                        @if (_selectedDiscipline != null && !_isEndWorkDialogOdepened)
                        {
                            <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div>
                                    <h3>Auxiliares</h3>
                                </div>
                                <div class="table-responsive p-1 table-container">
                                    <table class="table table-hover table-warning text-center">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="sticky-header">Other</th>
                                                <th scope="col" class="sticky-header">Total Hours</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var _other in _others)
                                            {
                                                <tr class="align-middle" @onclick="@(() => OnSelectDoc(_other))">

                                                    <td class="align-middle
                                                        @(((_selectedOther == null ||
                                                                !_selectedOther.Id.Equals(_other.Id))
                                                                    ? "" : "highlight_4"))"
                                                        style="min-width: 110px;">
                                                        <div class="align-middle h-100"><labe>@_other.Name</labe></div>
                                                    </td>

                                                    <td class="align-middle
                                                        @(((_selectedOther == null ||
                                                                !_selectedOther.Id.Equals(_other.Id))
                                                                    ? "" : "highlight_4"))"
                                                        style="min-width: 90px;max-width: 90px; margin: 0 auto;">
                                                        <label>@_other.MenHours h</label>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }

                    </div>

                    <!-- Paginator -->
                    @* <div style="text-align: right;">
                        <Paginator Renderer="@_getProjects" Peginator="@_paginator" />
                    </div> *@
                
                </div>
                
            </div>
        }
    </div>
</div>

<FilterProgressRing FilterLoading="@filterLoading"/>


<!-- On "Press Work End" Button Click Dialog -->
@if (!startLoading)
{
    <FluentDialog @ref="_endWorkDialog"
                  Hidden="@(!_isEndWorkDialogOdepened || startLoading)"
                  Modal="false"
                  DialogType=@DialogType.Panel
                  style="--dialog-width: auto !important;
                        --dialog-height: auto !important;">

        <div class="badge text-dark text-wrap fs-3">Update Your Hours</div>

        <div class="modal-body row">
            <div class="m-1 row justify-content-center">

                <div class="col-12 p-2">

                    <!-- Headder -->
                    <div class="mt-1 p-2 row">
                        <div Class="col">
                            <select class="form-select form-select-lg"
                                    aria-label="Select Project"
                                    @onchange="@(async (ChangeEventArgs e) => await OnSelectProject(Convert.ToInt32(e.Value)))">
                                <option value="0" selected>Select Project</option>
                                @foreach (var project in _projects)
                                {
                                    <option selected="@(project.Id == _selectedProject?.Id)"
                                            value="@project.Id">
                                        @project.Name
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select form-select-lg"
                                    aria-label="Select Discipline"
                                    @onchange="@(async (ChangeEventArgs e) => await OnSelectDiscipline(Convert.ToInt32(e.Value)))">
                                <option value="0" selected>Select Discipline</option>
                                @foreach (var discipline in _disciplines)
                                {
                                    <option selected="@(discipline.Id == _selectedDiscipline?.Id)"
                                            value="@discipline.Id">
                                        @discipline.Name
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col text-center">
                            <h3>My Hours <b>@hoursPassed</b></h3>
                        </div>
                    </div>

                    <div class="mt-1 p-2 modal-content">
                        <div class="d-flex justify-content-between">

                            <!-- Drawings -->
                            @if (_draws != null && _draws.Count > 0)
                            {
                                <div>
                                    <div>
                                        <h3>Deliverables</h3>
                                    </div>
                                    <ul class="list-group">
                                        @foreach (var _draw in _draws)
                                        {
                                            <li class="list-group-item">
                                                <div class="row gx-2">
                                                    <div class="col">
                                                        <labe>@_draw.Name</labe>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <input type="number"
                                                                   class="form-control"
                                                                   EnableMinMax="true"
                                                                   Min="0"
                                                                   Max="@hoursPassed"
                                                                   value="@_draw.MenHours"
                                                                   @onchange=@((e) => _onDrawHoursChanged(_draw, e.Value))>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">h</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <input type="number"
                                                                   class="form-control"
                                                                   EnableMinMax="true"
                                                                   Min="0"
                                                                   Max="@hoursPassed"
                                                                   @bind="@_draw.CompletionEstimation">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }

                            <!-- Others -->
                            @if (_others != null && _others.Count > 0)
                            {
                                <div>
                                    <div>
                                        <h3>Auxiliares</h3>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var _other in _others)
                                        {
                                            <li class="list-group-item">
                                                <div class="row gx-2">
                                                    <div class="col">
                                                        <labe>@_other.Name</labe>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <input type="number"
                                                                   class="form-control"
                                                                   EnableMinMax="true"
                                                                   Min="0"
                                                                   Max="@hoursPassed"
                                                                   value="@_other.MenHours"
                                                                   @onchange=@((e) => _onOtherHoursChanged(_other, e.Value))>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">h</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <input type="number"
                                                                   class="form-control"
                                                                   EnableMinMax="true"
                                                                   Min="0"
                                                                   Max="@hoursPassed"
                                                                   @bind="@_other.CompletionEstimation">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <FluentButton Disabled="@(hoursPassed > 0)" class="col-6" OnClick="@(async () => await _endWorkDialogAccept())">
                Ok
            </FluentButton>
            <FluentButton class="col-6" OnClick="@(() => _endWorkDialogCansel())">
                Cancel
            </FluentButton>
        </div>

    </FluentDialog>
}
