@page "/"
@page "/projects"
@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@inject IDataProvider DataProvider
@inject IMapper Mapper

<!-- card shadow bg-white rounded container text-center align-middle -->
<div class="row justify-content-center mt-1 mb-1">
    <div class="col-auto" style="width: 100%; height: 100%;">
        @if (startLoading)
        {
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20%;">
                <FluentProgressRing />
            </div>
        }
        else
        {
            <div class="m-1 row justify-content-center">

                <div class="col-12 p-2 card shadow"
                     style="overflow-x:hidden; margin: 0 auto;">
                    
                     <!-- Headder -->
                    <div class="mt-2">
                        @if (_logedUser != null)
                        {
                            <div class="row ms-2 me-2" style="overflow:hidden;">
                                <div class="col-lg-10 col-md-8 col-sm-8">
                                    @foreach (var role in _loggedUserRoles)
                                    {
                                        <h4><b>@role.Name</b></h4>
                                    }
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-4 row primary-bg-color rounded-1 text-center">
                                    <span class="mt-2 h6"><strong>@(_logedUser.Hours)</strong>h</span>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row">

                        <!-- Table Projects -->
                        <div class="col table-responsive" style="min-height: 50vh; max-height: 57vh; overflow-x:hidden">
                            <table class="table table-hover thead-light text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Project</th>
                                        <th scope="col">Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var project in _projects)
                                    {
                                        <tr clss="align-middle d-flex"
                                            @onclick="@(async () => await OnSelectProject(project))">
                                            <td class="align-middle @((_selectedProject.Id.Equals(project.Id)? "highlight_1" : ""))"
                                                style="min-width: 110px;">
                                                <labe>@project.Name</labe>
                                            </td>
                                            <td class="align-middle @((_selectedProject.Id.Equals(project.Id)? "highlight_1" : ""))"
                                                style="min-width: 120px;">
                                                <label>@project.Completed %</label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- Table Disciplines -->
                        <div class="col table-responsive" style="min-height: 50vh; max-height: 55vh; overflow-x:hidden">
                            <table class="table table-hover thead-light text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Discipline</th>
                                        <th scope="col">PM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var discipline in _disciplines)
                                    {
                                        <tr clss="align-middle d-flex"
                                            @onclick="@(async () => await OnSelectDiscipline(discipline))">
                                            <td class="align-middle @(((_selectedDiscipline?.Id.Equals(discipline.Id)) ?? false ? "highlight_2" : ""))"
                                                style="min-width: 110px;">
                                                <labe>@discipline.Name</labe>
                                            </td>
                                            <td class="align-middle @(((_selectedDiscipline?.Id.Equals(discipline.Id)) ?? false ? "highlight_2" : ""))"
                                                style="min-width: 110px;">
                                                <labe>@discipline.ProjectManager.LastName @discipline.ProjectManager.FirstName</labe>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- Table Draws -->
                        <div class="col table-responsive" style="min-height: 50vh; max-height: 55vh; overflow-x:hidden">
                            <table class="table table-hover thead-light text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Draw</th>
                                        <th scope="col">Hours</th>
                                        <th scope="col">Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var draw in _draws)
                                    {
                                        <tr class="align-middle d-flex"
                                            @onclick="@(() => OnSelectDraw(draw))">
                                            <td class="align-middle @(((_selectedDraw?.Id.Equals(draw.Id)) ?? false ? "highlight_3" : ""))"
                                                style="min-width: 110px;">
                                                <div class="align-middle h-100"><labe>@draw.Name</labe></div>
                                            </td>
                                            <td class="align-middle @(((_selectedDraw?.Id.Equals(draw.Id)) ?? false ? "highlight_3" : ""))"
                                                style="min-width: 110px;">
                                                <div class="input-group">
                                                    <input type="number"
                                                           class="form-control"
                                                           value="@draw.ManHours"
                                                           @onchange="(async (e) => await _onDrawHoursChanged(draw, e.Value))">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">h</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle @(((_selectedDraw?.Id.Equals(draw.Id)) ?? false ? "highlight_3" : ""))"
                                                style="min-width: 110px;">
                                                <div class="input-group">
                                                    <input type="number"
                                                           class="form-control"
                                                           disabled
                                                           @bind-value="@draw.Completed">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">%</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- Table Docs -->
                        <div class="col table-responsive" style="min-height: 50vh; max-height: 55vh; overflow-x:hidden">
                            <table class="table table-hover thead-light text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Docs</th>
                                        <th scope="col">Hours</th>
                                        <th scope="col">Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var doc in _docs)
                                    {
                                        <tr class="align-middle d-flex"
                                            @onclick="@(() => OnSelectDoc(doc))">
                                            <td class="align-middle @(((_selectedDoc?.Id.Equals(doc.Id)) ?? false ? "highlight_3" : ""))"
                                                style="min-width: 110px;">
                                                <div class="align-middle h-100"><labe>@doc.Name</labe></div>
                                            </td>
                                            <td class="align-middle @(((_selectedDoc?.Id.Equals(doc.Id)) ?? false ? "highlight_3" : ""))"
                                                style="min-width: 110px;">
                                                <div class="input-group">
                                                    <input type="number"
                                                           class="form-control"
                                                           value="@doc.ManHours"
                                                           @onchange="(async (e) => await _onDocHoursChanged(doc, e.Value))">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">h</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle @(((_selectedDoc?.Id.Equals(doc.Id)) ?? false ? "highlight_3" : ""))"
                                                style="min-width: 110px;">
                                                <div class="input-group">
                                                    <input type="number"
                                                           class="form-control"
                                                           disabled
                                                           @bind-value="@doc.Completed">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">%</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <!-- Paginator -->
                    <div style="text-align: right;">
                        <Paginator Renderer="@_getProjects" Peginator="@_paginator" />
                    </div>
                
                </div>
                
            </div>
        }
    </div>
</div>

<FilterProgressRing FilterLoading="@filterLoading"/>
