@using EmpiriaBMS.Front.ViewModel.Components;
@using Microsoft.AspNetCore.Components;

<div class="w-100">

    <h3 class="mt-1 mb-1">Project</h3>

    <form class="mb-2 row mt-3 g-1 rounded default-background shadow">

        <div class=" p-2 col-lg-6 col-md-6 col-sm-12">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- Name -->
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               @bind="@Project.Name">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- ManHours -->
                    <div class="form-group">
                        <label for="manHours">ManHours</label>
                        <input type="number"
                               min="0"
                               max="100"
                               class="form-control"
                               id="manHours"
                               @bind="@Project.ManHours">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- Code -->
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text"
                               class="form-control"
                               id="code"
                               @bind="@Project.Code">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- Drawing -->
                    <div class="form-group">
                        <label for="drawing">Drawing</label>
                        <input type="number"
                               class="form-control"
                               id="drawing"
                               @bind="@Project.Drawing">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- PlanType -->
                    <div class="form-group">
                        <label for="planType">PlanType</label>
                        <select class="form-select"
                                id="planType"
                                @bind="@Project.PlanType">
                            @foreach (var type in Enum.GetValues(typeof(PlanTypes)))
                            {
                                <option value="@type">@type</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- WorkingDays -->
                    <div class="form-group">
                        <label for="workingDays">WorkingDays</label>
                        <input type="number"
                               class="form-control"
                               id="workingDays"
                               @bind="@Project.WorkingDays">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- DurationDate -->
                    <div class="form-group">
                        <label for="durationDate">DurationDate</label>
                        <input type="date"
                               class="form-control"
                               id="durationDate"
                               @bind="@Project.DurationDate">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- Completed -->
                    <div class="form-group">
                        <label for="completed">Completed</label>
                        <div class="input-group">
                            <input type="number"
                                   min="0"
                                   max="100"
                                   class="form-control completed-input"
                                   id="completed"
                                   @bind="@Project.Completed">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Description -->
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control"
                                  name="composeContent"
                                  id="description"
                                  row="7"
                                  @bind="@Project.Description"/>
                    </div>
                </div>
            </div>

        </div>

        <div class="p-2 col-lg-6 col-md-6 col-sm-12">
    
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- PaymentDate -->
                    <div class="form-group">
                        <label for="paymentDate">PaymentDate</label>
                        <input type="date"
                               class="form-control"
                               id="paymentDate"
                               @bind="@Project.PaymentDate">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- DelayInPayment -->
                    <div class="form-group">
                        <label for="delayInPayment">DelayInPayment</label>
                        <input type="number"
                               class="form-control"
                               id="delayInPayment"
                               @bind="@Project.DelayInPayment">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- PaymentDetailes -->
                    <div class="form-group">
                        <label for="paymentDetailes">PaymentDetailes</label>
                        <input type="text"
                               class="form-control"
                               id="paymentDetailes"
                               @bind="@Project.PaymentDetailes">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- DayCost -->
                    <div class="form-group">
                        <label for="dayCost">DayCost</label>
                        <input type="number"
                               class="form-control"
                               id="dayCost"
                               @bind="@Project.DayCost">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- Bank -->
                    <div class="form-group">
                        <label for="bank">Bank</label>
                        <input type="text"
                               class="form-control"
                               id="bank"
                               @bind="@Project.Bank">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- PaidFee -->
                    <div class="form-group">
                        <label for="paidFee">PaidFee</label>
                        <input type="number"
                               class="form-control"
                               id="paidFee"
                               @bind="@Project.PaidFee">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- DaysUntilPayment -->
                    <div class="form-group">
                        <label for="daysUntilPayment">DaysUntilPayment</label>
                        <input type="number"
                               class="form-control"
                               id="daysUntilPayment"
                               @bind="@Project.DaysUntilPayment">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- PendingPayments -->
                    <div class="form-group">
                        <label for="pendingPayments">PendingPayments</label>
                        <input type="number"
                               class="form-control"
                               id="pendingPayments"
                               @bind="@Project.PendingPayments">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- CalculationDaly -->
                    <div class="form-group">
                        <label for="calculationDaly">CalculationDaly</label>
                        <input type="number"
                               class="form-control"
                               id="calculationDaly"
                               @bind="@Project.CalculationDaly">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- EstPaymentDate -->
                    <div class="form-group">
                        <label for="estPaymentDate">EstPaymentDate</label>
                        <input type="date"
                               class="form-control"
                               id="estPaymentDate"
                               @bind="@Project.EstPaymentDate">
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>