@using EmpiriaBMS.Front.ViewModel.Interfaces
@using EmpiriaBMS.Front.Services
@using Color = Microsoft.Fast.Components.FluentUI.Color
@using EmpiriaBMS.Front.Components.Admin.Projects.Clients
@using EmpiriaBMS.Core.Hellpers
@using EmpiriaBMS.Front.Components.Admin.Projects.Contracts

@inject IDataProvider _dataProvider
@inject IMapper _mapper
@inject IDialogService DialogService
@inject MicrosoftTeams MicrosoftTeams

<div class="row" style="width: 100%; overflow-x: auto; margin: 0 auto;">
    <div class="col-12 card shadow" style="height: 620px; overflow:auto;">
        @if (Content != null)
        {
            <div class="row" style="width: 100%; overflow-x: auto; margin: 0 auto;">

                @if (!string.IsNullOrEmpty(@Title))
                {
                    <div class="col-12 mb-2 mt-2">
                        <h3>@Title</h3>
                    </div>
                }

                @if (DisplayProject)
                {
                    <div class="col-12 row gx-2 mt-1">
                        <!-- Project -->
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div>
                                Project<span class="text-danger">*</span>
                            </div>
                            <div>
                                <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                                Placeholder="Select Project..."
                                                Items="@_projects"
                                                Height="200px"
                                                Width="100%"
                                                TOption="ProjectVM"
                                                OptionText="@(c => c.Name)"
                                                OptionValue="@(c => c.Id.ToString())" />
                            </div>
                            @if (!validProject)
                            {
                                <div>
                                    <span class="text-warning">Field is required!</span>
                                </div>
                            }
                        </div>
                        <!-- None -->
                        <div class="col-xl-6 col-lg-6 col-md-12">
                        </div>
                    </div>
                }

                <div class="col-12 row gx-2 mt-1">
                    <!-- Type -->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div>
                            Type<span class="text-danger">*</span>
                        </div>
                        <div>
                            <FluentCombobox @ref="_typeCompoment"
                                            Autocomplete="ComboboxAutocomplete.Both"
                                            Placeholder="Select Type..."
                                            Items="@_types"
                                            Height="200px"
                                            Width="100%"
                                            TOption="InvoiceTypeVM"
                                            OptionText="@(c => c.Name)"
                                            OptionValue="@(c => c.Id.ToString())"
                                            @bind-SelectedOption="@Type" />
                        </div>
                        @if (!validType)
                        {
                            <div>
                                <span class="text-warning">Field is required!</span>
                            </div>
                        }
                    </div>
                    <!-- Mark -->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div>
                            Mark
                        </div>
                        <FluentTextField Style="width:100%;" @bind-Value="@Content.Mark" />
                        @if (!validMark)
                        {
                            <div class="col-12">
                                <span class="text-warning">Field is required!</span>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-12 row gx-2 mt-1">
                    <!-- Vat -->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <FluentNumberField Style="width:100%; margin:4px;" @bind-Value="@Content.Vat" Min="0">
                            Vat
                        </FluentNumberField>
                    </div>
                    <!-- Fee -->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <FluentNumberField Style="width:100%; margin:4px;" @bind-Value="@Content.Fee" Min="0">
                            Fee
                        </FluentNumberField>
                    </div>
                </div>

                <div class="col-12 row gx-2 mt-1">
                    <!-- Number -->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <FluentNumberField Style="width:100%; margin:4px;" @bind-Value="@Content.Number" Min="0">
                            Number
                        </FluentNumberField>
                    </div>
                    <!-- Total -->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <FluentNumberField Style="width:100%; margin:4px;" @bind-Value="@Content.Total" Min="0">
                            Total
                        </FluentNumberField>
                    </div>
                </div>

                <div class="col-12 row gx-3 mt-1">
                    <!-- Date -->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <FluentDatePicker Style="width:100%; margin:4px;" @bind-Value="@Content.Date" Label="Date" />
                    </div>
                    <!-- None -->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                    </div>
                </div>

                <div class="col-12 row gx-3 mt-1">
                    <!-- Contract -->
                    <div class="col-12 border rounded m-2 p-2 row">
                        <div class="col-12">
                            <h4>Contract</h4>
                        </div>
                        <div class="col-12">
                            <!-- Contract Detailed -->
                            <ContractDetailed @ref="@_contractDetailedRef" Content="@Contract" DisplayActions="false" DisplayInvoice="false" />
                        </div>
                    </div>
                </div>

                @if (DisplayAcions)
                {
                    <div class="col-12 mb-2 mt-1 d-flex justify-content-end">
                        <FluentButton Appearance="Appearance.Accent" OnClick="@(async () => await Save())">Save</FluentButton>
                    </div>
                }

            </div>
        }
    </div>
</div>