@using EmpiriaBMS.Front.Components.Invoices
@using Microsoft.Fast.Components.FluentUI
@using EmpiriaBMS.Front.Components.General
@using EmpiriaBMS.Front.Components
@using EmpiriaBMS.Front.Components.Home.Offers
@using EmpiriaBMS.Front.Components.KPIS
@using EmpiriaBMS.Front.Horizontal
@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Components.Admin
@using Color = Microsoft.Fast.Components.FluentUI.Color
@using EmpiriaBMS.Core.Services.DBManipulation
@using EmpiriaBMS.Front.Components.Home.Header.Hours
@using EmpiriaBMS.Front.Components.Reports
@using EmpiriaBMS.Models.Enum
@using EmpiriaBMS.Front.Components.Home.Clients
@using EmpiriaBMS.Front.Components.Home.Deliverables
@using EmpiriaBMS.Front.Components.Home.Disciplines
@using EmpiriaBMS.Front.Components.Home.Issues
@using EmpiriaBMS.Front.Components.Home.Projects
@using EmpiriaBMS.Front.Components.Home.SupportiveWorks

@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@inject IDataProvider _dataProvider
@inject IMapper Mapper
@inject TimerService TimerService
@inject AuthorizeServices authorizeServices
@inject SharedAuthDataService _sharedAuthData
@inject IDialogService DialogService
@inject DatabaseBackupService DatabaseBackupService
@inject Logging.LoggerManager Logger

@if (_disciplineId != 0)
{
    <!-- Actions -->
    <div style="height: 74px;">
        <div class="text-start row me-2">
            <h3>Supportive Works</h3>
        </div>
        <div class="text-center row me-2">
            <div class="col-6">
            </div>
            <div class="col-6">
                <FluentStack HorizontalAlignment="HorizontalAlignment.End">
                    @if (IsWorkingMode && editSupportiveWork)
                    {
                        @if (_selectedSupportiveWork != null)
                        {
                            <span class="fluent--delete-28-regular col-1"
                                  @onclick="@(() => DeleteSupportiveWork())" />
                            @if (_hasSapportiveWorksSelections)
                            {
                                <span class="material-symbols--edit-outline col-1"
                                      @onclick="@(() => EditSupportiveWork())" />
                            }
                        }
                        <span class="grommet-icons--add col-1"
                              @onclick="@(() => AddSupportiveWork())" />
                    }

                    <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowExport())"
                                  Appearance="Appearance.Outline"
                                  OnClick="@(async (e) => await ExportSupportiveWorksToCSV())"
                                  Disabled="@(_data.Count() == 0)">
                        Export
                    </FluentButton>
                </FluentStack>
            </div>
        </div>
    </div>
    @if (_loading)
    {
        <div class="mt-5 mb-5">
            <FluentProgressRing Style="margin: 0 auto;" />
        </div>
    }
    else
    {
        <!-- Table -->
        <div class="table-responsive mt-2 p-1 table-container"
             style="overflow-x: auto !important;">
            <table class="table table-hover table-warning text-center">
                <thead>
                    <tr>
                        <th scope="col" class="sticky-header">Supportive Work</th>
                        <th scope="col" class="sticky-header">Total Hours</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var _supportiveWork in _data)
                    {
                        <tr class="align-middle" @onclick="@(() => OnSelect(_supportiveWork))">

                            <td class="align-middle
                                    @(((_selectedSupportiveWork == null ||
                                            !_selectedSupportiveWork.Id.Equals(_supportiveWork.Id))
                                                ? "" : "selected_table_supportiveworks_row"))"
                                style="min-width: 110px;">
                                <div class="align-middle h-100"><labe>@_supportiveWork.Type.Name</labe></div>
                            </td>

                            <td class="align-middle
                                    @(((_selectedSupportiveWork == null ||
                                            !_selectedSupportiveWork.Id.Equals(_supportiveWork.Id))
                                                ? "" : "selected_table_supportiveworks_row"))"
                                style="min-width: 90px;max-width: 90px; margin: 0 auto;">
                                <label>@GetMenHours(_supportiveWork.Id) h</label>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@if (!_loading)
{
    <!-- On Add/Edit SupportiveWorks Dialog -->
    <FluentDialog @ref="_addEditSupportiveWorkDialog"
                  Hidden="@(!_isAddEditSupportiveWorkDialogOdepened)"
                  Modal="true"
                  DialogType=@DialogType.Panel
                  style="--dialog-width: auto !important;
                         --dialog-width: auto !important;">

        <div class="modal-body row mb-1">

            <div class="col-12 dialog-header">
                <span class="carbon--close-outline float-end" @onclick="CloseAddSupportiveWorkClick"></span>
            </div>

            <div class="col-12 justify-content-center">
                @if (_disciplineId != 0)
                {
                    <SupportiveWorksDetailed @ref="@supportiveWorkrCompoment" DisciplineId="@_disciplineId" />
                }
                else
                {
                    <h3 class="warning">No Discipline Selected!</h3>
                }
            </div>

        </div>

        <div class="row">
            <FluentButton class="col-6"
                          OnClick="@(async () => await _addEditSupportiveWorkDialogAccept())">
                Ok
            </FluentButton>
            <FluentButton class="col-6" OnClick="@(() => CloseAddSupportiveWorkClick())">
                Cancel
            </FluentButton>
        </div>

    </FluentDialog>

    <!-- On Delete Dialog -->
    <FluentDialog @ref="_deleteDialog"
                  Hidden="@(!_isDeleteDialogOdepened)"
                  Modal="true"
                  DialogType=@DialogType.Panel
                  style="--dialog-width: auto !important;
                         --dialog-width: auto !important;">

        <div class="modal-body row mb-1">

            <div class="col-12 dialog-header row">
                <div class="col-10">
                    <h3>Delete Record</h3>
                </div>
                <span class="col-2 carbon--close-outline float-end" @onclick="OnDeleteClose"></span>
            </div>

            <div class="col-12 justify-content-center">
                <p>@_deleteDialogMsg</p>
            </div>

        </div>

        <div class="row">
            <FluentButton class="col-6"
                          OnClick="@(async () => await OnDeleteAccept())">
                Ok
            </FluentButton>
            <FluentButton class="col-6" OnClick="@(() => OnDeleteClose())">
                Cancel
            </FluentButton>
        </div>

    </FluentDialog>
}
