@page "/admin/projects/payments"

@using EmpiriaBMS.Front.Services
@inject IDataProvider DataProvider
@inject MicrosoftTeams MicrosoftTeams
@inject IMapper Mapper
@inject IDialogService DialogService
@inject Logging.LoggerManager Logger

<div class="row" style="overflow-x: auto; margin: 0 auto;">
    <div class="col-12 card shadow">
        <div>
            <FluentStack Class="mt-2" HorizontalAlignment="HorizontalAlignment.End" Style="margin-right: 10px;">
                <FluentButton aria-label="Add" IconEnd="@(new Icons.Regular.Size16.Add())" OnClick="@(() => _add())">Add</FluentButton>
                <InputFile @ref="@fileInput" OnChange="ImportFromCSV" style="display: none;" />
                <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowImport())"
                              Appearance="Appearance.Outline"
                              OnClick="@(async () => await TriggerFileInput())">
                    Import
                </FluentButton>
                <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowExport())"
                              Appearance="Appearance.Outline"
                              OnClick="@(async (e) => await ExportToCSV())"
                              Disabled="@(FilteredItems?.Count() == 0)">
                    Export
                </FluentButton>
            </FluentStack>
        </div>
        <div>
            <FluentDataGrid Items="@FilteredItems"
                            ResizableColumns=true
                            Pagination="@pagination"
                            TGridItem="PaymentVM"
                            OnRowFocus="HandleRowFocus"
                            GridTemplateColumns="2fr 2fr 2fr 2fr 2fr 2fr 100px"
                            style="height: 70vh; overflow:auto;">

                <TemplateColumn Title="Name"
                                Sortable="true"
                                InitialSortDirection=SortDirection.Descending
                                IsDefaultSortColumn=true>
                    <ColumnOptions>
                        <div class="search-box">
                            <FluentSearch type="search"
                                          Autofocus=true
                                          @bind-Value="@_filterString"
                                          Placeholder="Project..."
                                          @oninput="@HandleFilter" />
                        </div>
                    </ColumnOptions>
                    <ChildContent>
                        @(context.ProjectName)
                    </ChildContent>
                </TemplateColumn>

                <PropertyColumn Property="@(p => p.TypeName)" Sortable="true" Title="Type" Align="@Align.Start" />
                <PropertyColumn Property="@(p => p.InvoiceTypeName)" Sortable="true" Title="Invoice Type" Align="@Align.Start" />
                <PropertyColumn Property="@(p => p.Bank)" Sortable="true" Title="Bank" Align="@Align.Start" />
                <PropertyColumn Property="@(p => p.Fee)" Sortable="true" Title="Fee" Align="@Align.Start" />
                <PropertyColumn Property="@(p => p.PaymentDate)" Format="dd-mm-yyyy" Sortable="true" Title="Payment Date" Align="@Align.Start" />

                <TemplateColumn Title="Actions" Align="@Align.End">
                    <FluentButton aria-label="Edit" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => _edit(context))" />
                    <FluentButton aria-label="Delete" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => _delete(context))" />
                </TemplateColumn>

            </FluentDataGrid>
        </div>
        <div style="min-width: 50%;">
            <FluentPaginator State="@pagination">
                <SummaryTemplate>
                    There are <strong>@(pagination.TotalItemCount ?? 0)</strong> rows
                </SummaryTemplate>
                <PaginationTextTemplate>
                    This is page <strong>@(pagination.CurrentPageIndex + 1)</strong> out of a total of <strong>@(pagination.LastPageIndex + 1)</strong> pages
                </PaginationTextTemplate>
            </FluentPaginator>
        </div>
    </div>
</div>