@using EmpiriaBMS.Front.ViewModel.Interfaces
@using EmpiriaBMS.Front.Services
@using Color = Microsoft.Fast.Components.FluentUI.Color
@using EmpiriaBMS.Front.Components.Admin.Projects.Clients
@using EmpiriaBMS.Core.Hellpers

@implements IDialogContentComponent<PaymentParameter>

@inject IDataProvider _dataProvider
@inject IMapper _mapper
@inject IDialogService DialogService
@inject MicrosoftTeams MicrosoftTeams
@inject Logging.LoggerManager Logger

@* Header *@
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>

    <div class="col-12 row gx-2 mt-2">
        <!-- Bank -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div>
                Bank<span class="text-danger">*</span>
            </div>
            <FluentTextField Style="width:100%;" @bind-Value="@Payment.Bank"/>
        </div>
        <!-- Fee -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div>
                Fee<span class="text-danger">*</span>
            </div>
            <FluentNumberField Style="width:100%; margin:4px;" @bind-Value="@Payment.Fee" Min="0"/>
        </div>
    </div>

    <div class="col-12 row gx-2 mt-2">
        <!-- Type -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div>
                Type<span class="text-danger">*</span>
            </div>
            <div>
                <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                Placeholder="Select Type..."
                                Items="@_types"
                                Height="200px"
                                Width="100%"
                                TOption="PaymentTypeVM"
                                OptionText="@(c => c.Name)"
                                OptionValue="@(c => c.Id.ToString())"
                                @bind-SelectedOption="@Type" />
            </div>
            @if (!validType)
            {
                <div>
                    <span class="text-warning">Field is required!</span>
                </div>
            }
        </div>
        <!-- PaymentDate -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div>
                Date
            </div>
            <FluentDatePicker Style="width: 100%;" @bind-Value="@Payment.PaymentDate"/>
        </div>
    </div>

    @if (_displayInvoiceSelection)
    {
        <div class="col-12 row gx-3 mt-2">
            <!-- Invoice -->
            <div class="col-12">
                <div>
                    Invoice<span class="text-danger">*</span>
                </div>
                <div>
                    <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                    Placeholder="Select Invoice..."
                                    Items="@_invoices"
                                    Height="200px"
                                    Width="100%"
                                    TOption="InvoiceVM"
                                    OptionText="@(c => $"P-[{c.ProjectName}]  T-[{c.TypeName}]  M-[{c.Mark}]")"
                                    OptionValue="@(c => c.Id.ToString())"
                                    @bind-SelectedOption="@Invoice" />
                </div>
                @if (!validInvoice)
                {
                    <div>
                        <span class="text-warning">Field is required!</span>
                    </div>
                }
            </div>
        </div>
    }

    <div class="col-12 row gx-3 mt-2">
        <!-- Description -->
        <div class="col-12">
            <FluentTextArea Style="width:100%;" @bind-Value="@Payment.Description" Rows="3" Resize="TextAreaResize.Vertical">Description:</FluentTextArea>
        </div>
    </div>

</FluentDialogBody>