@using EmpiriaBMS.Front.Components.Admin.Projects.Issues
@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Components.Admin.Users

@inject IDataProvider DataProvider
@inject IMapper Mapper
@inject IDialogService DialogService
@inject Logging.LoggerManager Logger

<div class="row gx-5 pb-1" style="height: min(78vh, 1200px); overflow-y: auto;">

    <div class="col-12" ;>
        <h3>Teams Requested User</h3>
    </div>

    <div class="col-xl-7 col-lg-7 col-12">
        <div class="ps-1 border rounded shadow-sm" style="height: 500px; overflow-x: auto;">
            <div>
                <FluentDataGrid Items="@FilteredItems"
                                ResizableColumns=true
                                Pagination="@pagination"
                                TGridItem="TeamsRequestedUserVM"
                                OnRowFocus="OnRowFocused"
                                Style="height: 100%;"
                                GridTemplateColumns="auto 260px 260px">

                    <TemplateColumn Title="DisplayName"
                                    Sortable="true"
                                    InitialSortDirection=SortDirection.Descending
                                    IsDefaultSortColumn=true>
                        <ColumnOptions>
                            <div class="search-box">
                                <FluentSearch type="search"
                                              Autofocus=true
                                              @bind-Value="@_filterString"
                                              Placeholder="DisplayName..."
                                              @oninput="@HandleFilter" />
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            @(context.DisplayName)
                        </ChildContent>
                    </TemplateColumn>

                    <PropertyColumn Property="@(p => p.ProxyAddress)" Sortable="true" Title="ProxyAddress" Align="@Align.Start" />
                    <PropertyColumn Property="@(p => p.ObjectId)" Sortable="true" Title="ObjectId" Align="@Align.Start" />

                </FluentDataGrid>
            </div>
            <div style="min-width: 50%;">
                <FluentPaginator State="@pagination">
                    <SummaryTemplate>
                        There are <strong>@(pagination.TotalItemCount ?? 0)</strong> rows
                    </SummaryTemplate>
                    <PaginationTextTemplate>
                        This is page <strong>@(pagination.CurrentPageIndex + 1)</strong> out of a total of <strong>@(pagination.LastPageIndex + 1)</strong> pages
                    </PaginationTextTemplate>
                </FluentPaginator>
            </div>
        </div>
    </div>

    <div class="col-xl-5 col-lg-5 col-12
                mt-xl-0 mt-lg-0 mt-md-2 mt-sm-2 mt-xs-2
                mb-xl-0 mb-lg-0 mb-md-2 mb-sm-2 mb-xs-2">
        <div class="border rounded shadow-sm p-2" style="height: 500px; padding-bottom: 4px;">
            @if (_selectedRecord != null)
            {

                <UserDetailed Content="@_selectedUser"
                              Height="400px"
                              Vertical=true
                              OnSave="@OnCreateUser"
                              OnCancel="@OnCreateUserCancel" />
            }
        </div>
    </div>

</div>