@using EmpiriaBMS.Front.ViewModel.Interfaces
@using EmpiriaBMS.Front.Services
@using Color = Microsoft.Fast.Components.FluentUI.Color
@using EmpiriaBMS.Front.Components.Admin.Projects.Clients
@using EmpiriaBMS.Core.Hellpers

@implements IDialogContentComponent<DisciplineVM>

@inject IDataProvider _dataProvider
@inject IMapper _mapper
@inject IDialogService DialogService
@inject MicrosoftTeams MicrosoftTeams

@* Header *@
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>

    <div class="col-12 row gx-2 mt-2">
        <!-- Project -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div>
                Project<span class="text-danger">*</span>
            </div>
            <div>
                <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                Placeholder="Select Project..."
                                Items="@_projects"
                                Height="200px"
                                Width="100%"
                                TOption="ProjectVM"
                                OptionText="@(p => p.Name)"
                                OptionValue="@(c => c.Id.ToString())"
                                @bind-SelectedOption="@Project" />
            </div>
            @if (!validProject)
            {
                <div>
                    <span class="text-warning">Field is required!</span>
                </div>
            }
        </div>
        <!-- Type -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div>
                Type<span class="text-danger">*</span>
            </div>
            <div>
                <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                Placeholder="Select Type..."
                                Items="@_types"
                                Height="200px"
                                Width="100%"
                                TOption="DisciplineTypeVM"
                                OptionText="@(p => p.Name)"
                                OptionValue="@(c => c.Id.ToString())"
                                @bind-SelectedOption="@Type" />
            </div>
            @if (!validType)
            {
                <div>
                    <span class="text-warning">Field is required!</span>
                </div>
            }
        </div>
    </div>

    <div class="col-12 row gx-2 mt-2">
        <!-- EstimatedMandays -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <FluentNumberField Style="width:100%; margin:4px;" @bind-Value="@Content.EstimatedMandays" Min="0" Disabled>
                EstimatedMandays
            </FluentNumberField>
        </div>
        <!-- EstimatedHours -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <FluentNumberField Style="width:100%; margin:4px;" @bind-Value="@Content.EstimatedHours" Min="0" Disabled>
                EstimatedHours
            </FluentNumberField>
        </div>
    </div>

    <div class="col-12 row gx-2 mt-2">
        <!-- EstimatedCompleted -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <FluentNumberField Style="width:100%; margin:4px;" @bind-Value="@Content.EstimatedCompleted" Min="0" Disabled>
                EstimatedCompleted
            </FluentNumberField>
        </div>
        <!-- DeclaredCompleted -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <FluentNumberField Style="width:100%; margin:4px;" @bind-Value="@Content.DeclaredCompleted" Min="0" Disabled>
                DeclaredCompleted
            </FluentNumberField>
        </div>
    </div>

</FluentDialogBody>