@page "/admin/drwaingstypes"
@layout AdminLayout

@using EmpiriaBMS.Front.Services
@inject PreviousLocationService previusLocationService
@inject IDataProvider DataProvider
@inject IMapper Mapper

<div class="row">
    <div class="col-12 card shadow p-1 mt-2">
        <div class="d-flex justify-content-between m-1">
            <div><h3>Drawing Types</h3></div>
            <div>
                <span class="codicon--add">
                </span>
            </div>
        </div>
        <div class="table-responsive p-1 table-container">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col" class="sticky-header"><h5>User</h5></th>
                        <th scope="col" class="sticky-header"><h5>Edit</h5></th>
                        <th scope="col" class="sticky-header"><h5>Delete</h5></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in _source)
                    {
                        <tr class="align-middle"
                            @onclick="@(() => _onSelectItem(item.Id))">

                            <td class="align-middle
                                    @((_selectedItem == null ||
                                            !_selectedItem.Id.Equals(item.Id)
                                                            ? "" : "highlight_1"))"
                                style="word-wrap: break-word;">
                                <labe>@item.Name</labe>
                            </td>

                            <td class="align-middle
                                    @((_selectedItem == null ||
                                            !_selectedItem.Id.Equals(item.Id)
                                                            ? "" : "highlight_1"))"
                                style="width: 150px !important;">
                                <span class="material-symbols--edit-outline" />
                            </td>

                            <td class="align-middle
                                    @((_selectedItem == null ||
                                            !_selectedItem.Id.Equals(item.Id)
                                                            ? "" : "highlight_1"))"
                                style="width: 150px !important;">
                                <span class="fluent--delete-28-regular" />
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Paginator -->
        <div style="text-align: right;">
            <Paginator @ref=_paginator Renderer="@_getSource" />
        </div>
    </div>
</div>