<h3>Administration</h3>

<FluentStack Orientation="Orientation.Horizontal" Width="100%">
    <div style="max-height: 78vh;">
        <FluentNavMenu Width="250"
                       Collapsible="false"
                       Title="Collapsible demo"
                       Style="height: 78vh; overflow-y: auto; border-radius: 4px;">

            <FluentNavGroup Title="Authorization" Icon="@(new MyIcons.Size24.Auth())">
                <FluentNavGroup Title="Users" Icon="@(new MyIcons.Size24.People())">
                    <FluentNavLink Icon="@(new MyIcons.Size24.Users())">Users</FluentNavLink>
                    <FluentNavLink Icon="@(new MyIcons.Size24.Emails())">Emails</FluentNavLink>
                </FluentNavGroup>
                <FluentNavLink Icon="@(new MyIcons.Size24.Roles())">Roles</FluentNavLink>
                <FluentNavLink Icon="@(new MyIcons.Size24.Permissions())">Permissions</FluentNavLink>
            </FluentNavGroup>

            <FluentNavGroup Title="Projects" Icon="@(new MyIcons.Size24.Projects1())">
                <FluentNavLink Icon="@(new MyIcons.Size24.Projects2())">Projects</FluentNavLink>
                <FluentNavLink Icon="@(new MyIcons.Size24.Stages())">Stages</FluentNavLink>
                <FluentNavLink Icon="@(new MyIcons.Size24.Categories())">Categories</FluentNavLink>
                <FluentNavLink Icon="@(new MyIcons.Size24.SubCategories())">Sub Categories</FluentNavLink>
                <FluentNavLink Icon="@(new MyIcons.Size24.Clients())">Clients</FluentNavLink>
                <FluentNavLink Icon="@(new MyIcons.Size24.Issues())">Issues</FluentNavLink>
                <FluentNavGroup Title="Offers" Icon="@(new MyIcons.Size24.Offers1())">
                    <FluentNavLink Icon="@(new MyIcons.Size24.Offers2())">Offers</FluentNavLink>
                    <FluentNavLink Icon="@(new MyIcons.Size24.Types())">Types</FluentNavLink>
                    <FluentNavLink Icon="@(new MyIcons.Size24.States())">States</FluentNavLink>
                </FluentNavGroup>

                <FluentNavGroup Title="Invoices" Icon="@(new MyIcons.Size24.Invoices1())">
                    <FluentNavLink Icon="@(new MyIcons.Size24.Invoices2())">Invoices</FluentNavLink>
                    <FluentNavLink Icon="@(new MyIcons.Size24.Types())">Types</FluentNavLink>
                </FluentNavGroup>

                <FluentNavGroup Title="Payments" Icon="@(new MyIcons.Size24.Payments1())">
                    <FluentNavLink Icon="@(new MyIcons.Size24.Payments2())">Payments</FluentNavLink>
                    <FluentNavLink Icon="@(new MyIcons.Size24.Types())">Types</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>

            <FluentNavGroup Title="Disciplines" Icon="@(new MyIcons.Size24.Disciplines1())">
                <FluentNavLink Icon="@(new MyIcons.Size24.Disciplines2())">Disciplines</FluentNavLink>
                <FluentNavLink Icon="@(new MyIcons.Size24.Types())">Types</FluentNavLink>
            </FluentNavGroup>

            <FluentNavGroup Title="Deliverables" Icon="@(new MyIcons.Size24.Deliverables1())">
                <FluentNavLink Icon="@(new MyIcons.Size24.Deliverables2())">Deliverables</FluentNavLink>
                <FluentNavLink Icon="@(new MyIcons.Size24.Types())">Types</FluentNavLink>
            </FluentNavGroup>

            <FluentNavGroup Title="Supportive Works" Icon="@(new MyIcons.Size24.SupportiveWorks1())">
                <FluentNavLink Icon="@(new MyIcons.Size24.SupportiveWorks2())">Supportive Works</FluentNavLink>
                <FluentNavLink Icon="@(new MyIcons.Size24.Types())">Types</FluentNavLink>
            </FluentNavGroup>

            <FluentNavLink Icon="@(new MyIcons.Size24.Documents())">Documents</FluentNavLink>

        </FluentNavMenu>
    </div>
    <div style="width: 100%;">

        <!-- Display Body -->

    </div>
</FluentStack>