@using BlazorBootstrap;

@inherits LayoutComponentBase

@using EmpiriaBMS.Front.Services;
@inject AuthorizeServices authorizeServices;
@inject MicrosoftTeams MicrosoftTeams


<div class="container-fluid">
    <!-- Main content row -->
    <div class="row">
        <!-- Sidebar column -->
        <div class="@(_isSidebarOpen ? "col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-4" : "col-0")"
             style="@(_isSidebarOpen ? "" : "display:none;")">
            <div class="sidebar">
                <ul class="nav flex-column">
                    @if (SeeDashboard) {
                        <li class="nav-item">
                            <a class="nav-link text-white mb-2 @(_activeLink == "link1" ? "active" : "")"
                               href="/dashboard" @onclick="@(() => _setActiveLink("link1"))">
                                <span class="arcticons--nextcloud-tables"></span>
                                Dashboard
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-white mb-2 @(_activeLink == "link1" ? "active" : "")"
                           href="/admin/projects" @onclick="@(() => _setActiveLink("link1"))">
                            <span class="file-icons--microsoft-project"></span>
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mb-2 @(_activeLink == "link2" ? "active" : "")"
                           href="/admin/users" @onclick="@(() => _setActiveLink("link2"))">
                            <span class="ph--users-four-light"></span>
                            Users
                       </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mb-2 @(_activeLink == "link3" ? "active" : "")"
                           href="/admin/roles" @onclick="@(() => _setActiveLink("link3"))">
                            <span class="oui--app-users-roles"></span>
                            Roles
                       </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mb-2 @(_activeLink == "link4" ? "active" : "")"
                           href="/admin/projecttypes" @onclick="@(() => _setActiveLink("link4"))">
                            <span class="arcticons--ptv"></span>
                            Project Types
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mb-2 @(_activeLink == "link5" ? "active" : "")"
                           href="/admin/disciplines" @onclick="@(() => _setActiveLink("link5"))">
                            <span class="gala--layer"></span>
                            Discipline Types
                       </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mb-2 @(_activeLink == "link6" ? "active" : "")"
                           href="/admin/drawings" @onclick="@(() => _setActiveLink("link6"))">
                            <span class="streamline--hand-held-tablet-drawing"></span>
                            Drawing Types
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mb-2 @(_activeLink == "link7" ? "active" : "")"
                           href="/admin/others" @onclick="@(() => _setActiveLink("link7"))">
                            <span class="material-symbols--other-admission-outline-sharp"></span>
                            Other Types
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Main content column -->
        <div class="@(_isSidebarOpen ? "col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-8" : "col-12")"
             style="background-color: #f8f9fa;">
            <main>

                <!-- Top navigation row -->
                <div class="bb-top-row d-flex justify-content-between"
                     style="width: 100%; margin: 0 !important;">
                    <div>
                        <span class="fluent--navigation-16-filled" @onclick="_toggleSidebar"></span>
                    </div>
                    <div>
                        <span class="gis--profile-o"></span>
                        <span class="fluent-mdl2--locale-language ms-2"></span>
                        <span class="healthicons--ui-user-profile-outline ms-2"></span>
                    </div>
                </div>

                <!-- Body -->
                <article class="content px-4">
                    @Body
                </article>

            </main>
        </div>
    </div>
</div>


@code {

    #region Authorization Properties
    public bool SeeAdmin
    {
        get
        {
            return authorizeServices.PermissionOrds.Contains(7);
        }
    }
    public bool SeeDashboard
    {
        get
        {
            return authorizeServices.PermissionOrds.Contains(4);
        }
    }
    #endregion


    private bool _runInTeams { get; set; } = false;
    private bool _isSidebarOpen { get; set; } = false;
    private bool _isMobile { get; set; } = false;
    private string _activeLink { get; set; } = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            _runInTeams = await MicrosoftTeams.IsInTeams();
            await IsMobile();
            _isSidebarOpen = !_isMobile;
            StateHasChanged();
        }
    }

    private void _toggleSidebar()
    {
        _isSidebarOpen = !_isSidebarOpen;
        StateHasChanged();
    }

    private async Task IsMobile()
    {
        var screenSize = await MicrosoftTeams.GetScreenSize();
        _isMobile = screenSize.Width <= 768;
    }

    private void _setActiveLink(string link)
    {
        _activeLink = link;
        StateHasChanged();
    }

}
