@using EmpiriaBMS.Front.ViewModel.Interfaces
@using EmpiriaBMS.Models.Models

@implements IDialogContentComponent<OfferVM>

@inject MicrosoftTeams MicrosoftTeams
@inject IDataProvider _dataProvider
@inject IMapper _mapper
@inject Logging.LoggerManager Logger

<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<FluentDialogBody>
    @* <OfferCreationWizzard Offer="@Content" OnSave="@(async () => await SaveAsync())" OnCansel="@(async () => await CancelAsync())" /> *@

    <!-- Offers Detailed -->
    <div style="height: 500px;">
        <OfferDetailed @ref="@_offerCompoment"
                       Content="@Content"
                       OnSave="@_saveOffer"
                       DisplayTitle="false"
                       DisplayActions="true"
                       OnResultChanged="@_onOfferResultChanged" />
    </div>

</FluentDialogBody>