@using EmpiriaBMS.Front.Components.Admin.Projects.Contracts
@using EmpiriaBMS.Front.Components.Admin.Projects.Invoices
@using EmpiriaBMS.Front.Components.General

@inherits Microsoft.AspNetCore.Components.ComponentBase;

@inject MicrosoftTeams MicrosoftTeams
@inject IDataProvider _dataProvider
@inject IMapper _mapper

<div class="row">

    <div class="col-12">
        <h3>@(_isNew ? "Add Offer" : "Edit Offer")</h3>
    </div>

    <div class="col-12 mt-2 mb-2 row">

        <div class="bs-stepper col-12">

            <div class="bs-stepper-header">
                <div class="step">
                    <button type="button"
                            class="btn step-trigger @(tabs[0] == true ? "selected_step" : "")"
                            onclick="@(async () => await TabMenuClick(0))">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Main Info</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step">
                    <button type="button"
                            class="btn step-trigger @(tabs[1] == true ? "selected_step" : "")"
                            onclick="@(async () => await TabMenuClick(1))">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Create Project</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step">
                    <button type="button"
                            class="btn step-trigger @(tabs[2] == true ? "selected_step" : "")"
                            onclick="@(async () => await TabMenuClick(2))"
                            disabled="@(_project == null)">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Create Invoice</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step">
                    <button type="button"
                            class="btn step-trigger @(tabs[3] == true ? "selected_step" : "")"
                            onclick="@(async () => await TabMenuClick(3))"
                            disabled="@(!_contractTabEnable)">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label">Create Contract</span>
                    </button>
                </div>
            </div>

        </div>

        <div class="col-12">

            <!-- Display Body -->
            @if (_loading)
            {
                <div style="display: flex; justify-content: center; align-items: center; margin-top: 5%;">
                    <FluentProgressRing />
                </div>
            }
            else
            {
                @if (tabs[0])
                {
                    <div class="content">
                        <div class="row">
                            <div class="col-12"
                                 style="min-height: min(50vh, 400px) !important; max-height: max(60vh, 400px) !important; overflow-y: auto;">
                                @if (Offer != null)
                                {
                                    <!-- Offers Detailed -->
                                    <OfferDetailed States="@States"
                                                   Types="@Types"
                                                   Results="@Results"
                                                   Offer="@Offer"
                                                   OnCansel="@OnCansel"
                                                   OnSave="@OnSave"
                                                   DisplayTitle="false"
                                                   DisplayActions="false" />
                                }
                            </div>
                            <div class="col-12 mt-2">
                                <button class="btn btn-primary float-end"
                                        onclick="@(async () => await TabMenuClick(1))"
                                        disabled="@(!_contractTabEnable)">
                                    Next
                                </button>
                            </div>
                        </div>

                    </div>
                }
                else if (tabs[1])
                {
                    <div class="content">
                        <div class="row">
                            <div class="col-12"
                                 style="min-height: min(50vh, 400px) !important; max-height: max(60vh, 400px) !important; overflow-y: auto;">

                                <!-- Project Detailed -->
                                <ProjectDetailed @ref="@_projectCompoment" Project="@_project" />

                            </div>
                            <div class="col-12 mt-2">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary" onclick="@(async () => await TabMenuClick(0))">Previous</button>
                                    <button class="btn btn-primary ms-2"
                                            onclick="@(async() => await TabMenuClick(2))"
                                            disabled="@(_project == null)">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (tabs[2])
                {
                    <div class="content">
                        <div class="row">
                            <div class="col-12"
                                 style="min-height: min(50vh, 400px) !important; max-height: max(60vh, 400px) !important; overflow-y: auto;">

                                 <div class="row">
                                    <div class="col-12 d-flex justify-content-between">
                                        <!-- Select Invoice -->
                                        <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                                        Placeholder="Select Invoice..."
                                                        Items="@_invoices"
                                                        Height="200px"
                                                        Width="400px"
                                                        TOption="InvoiceVM"
                                                        OptionText="@(c => $"P-[{c.ProjectName}]  T-[{c.TypeName}]  M-[{c.Mark}]")"
                                                        OptionValue="@(c => c.Id.ToString())"
                                                        @bind-SelectedOption="@_invoice"/>
                                        <!-- Add Invoice -->
                                        <FluentButton IconStart="@(new Icons.Regular.Size24.Add())" OnClick="@_addInvoice">
                                            Add
                                        </FluentButton>
                                    </div>
                                    <div class="col-12 m-2">
                                        <!-- Invoice Detailed -->
                                        <InvoiceDetailed DisplayAcions="false" ProjectDisabled="true" Content="@_invoice" />
                                    </div>
                                 </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary" onclick="@(async () => await TabMenuClick(1))">Previous</button>
                                    <button class="btn btn-primary ms-2"
                                            onclick="@(async () => await TabMenuClick(3))"
                                            disabled="@(!_contractTabEnable || _invoice == null)">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (tabs[3])
                {
                    <div class="content">
                        <div class="row">
                            <div class="col-12"
                                 style="min-height: min(50vh, 400px) !important; max-height: max(60vh, 400px) !important; overflow-y: auto;">

                                <div class="row">
                                    <div class="col-12 d-flex justify-content-between">
                                        <!-- Select Invoice -->
                                        <FluentCombobox Autocomplete="ComboboxAutocomplete.Both"
                                                        Placeholder="Select Invoice..."
                                                        Items="@_invoices"
                                                        Height="200px"
                                                        Width="400px"
                                                        TOption="InvoiceVM"
                                                        OptionText="@(c => $"P-[{c.ProjectName}]  T-[{c.TypeName}]  M-[{c.Mark}]")"
                                                        OptionValue="@(c => c.Id.ToString())"
                                                        @bind-SelectedOption="@_invoice" />
                                    </div>
                                    <div class="col-12">
                                        <!-- Contract Detailed -->
                                        <ContractDetailed Content="@_contract" DisplayActions="false" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-primary" onclick="@(async () => await TabMenuClick(2))">Previous</button>
                                    <button class="btn btn-primary ms-2" onclick="@(async() => await _contractSave())">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>

    </div>

</div>
