@using Microsoft.Fast.Components.FluentUI
@using EmpiriaBMS.Front.Services

@inject IDataProvider _dataProvider
@inject IMapper Mapper


<div class="row">

    @if (DisplayTitle)
    {
        <div class="col-12">
            <h3>@(_isNew ? "Add Offer" : "Edit Offer")</h3>
        </div>
    }

    <div class="col-12 row gx-2 mt-2">

        <!-- State -->
        <div class="col-xl-4 col-lg-4 col-md-12">
            <FluentCombobox Id="states"
                            Height="200px"
                            Width="100%"
                            Placeholder="Select State"
                            Label="States:"
                            Autocomplete="ComboboxAutocomplete.Both"
                            AriaLabel="Pre-selected option"
                            Items="@States"
                            TOption="OfferStateVM"
                            OptionValue="@((t) => t.Id.ToString())"
                            OptionText="@((t) => t.Name)"
                            OptionSelected="@(i => i.Id == @Offer.StateId)"
                            @bind-SelectedOption="@SelectedOfferState" />
        </div>

        <!-- Type -->
        <div class="col-xl-4 col-lg-4 col-md-12">
            <FluentCombobox Id="types"
                            Height="200px"
                            Width="100%"
                            Placeholder="Select Type"
                            Label="Types:"
                            Autocomplete="ComboboxAutocomplete.Both"
                            AriaLabel="Pre-selected option"
                            Items="@Types"
                            TOption="OfferTypeVM"
                            OptionValue="@((t) => t.Id.ToString())"
                            OptionText="@((t) => t.Name)"
                            OptionSelected="@(i => i.Id == @Offer.TypeId)"
                            @bind-SelectedOption="@SelectedOfferType" />
        </div>

        <!-- Result -->
        <div class="col-xl-4 col-lg-4 col-md-12">
            <FluentCombobox Id="results"
                            Height="200px"
                            Width="100%"
                            Placeholder="Select Result"
                            Label="Results:"
                            Autocomplete="ComboboxAutocomplete.Both"
                            AriaLabel="Pre-selected option"
                            Items="@Results"
                            TOption="OfferResultVM"
                            OptionValue="@((t) => t.Id.ToString())"
                            OptionText="@((t) => t.Name)"
                            OptionSelected="@(i => i.Id == @Offer.ResultId)"
                            @bind-SelectedOption="@SelectedOfferResult" />
        </div>

    </div>

    <div class="col-12 row gx-3 mt-2">

        <!-- Code -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <FluentTextField Style="width:100%; margin:4px;" Label="Code:" @bind-Value="@Offer.Code" />
        </div>

        <!-- Date-->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <FluentDatePicker Style="width:100%; margin:4px;" Label="Date:" @bind-Value="@Offer.Date" />
        </div>

    </div>

    <div class="col-12 row gx-3 mt-2">

        <!-- PudgetPrice -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <FluentNumberField Style="width:100%; margin:4px;" Label="Pudget:" @bind-Value="@Offer.PudgetPrice" />
        </div>

        <!-- OfferPrice -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <FluentNumberField Style="width:100%; margin:4px;" Label="Price:" @bind-Value="@Offer.OfferPrice" />
        </div>

    </div>

    <!-- Description / TeamText / Comments -->
    <div class="col-12 mt-2 mb-2">
        <FluentAccordion>
            <FluentAccordionItem Heading="Extra Info">
                <HeadingTemplate>
                    Extra <span style="color:lightblue">Info</span>
                </HeadingTemplate>
                <ChildContent>
                    <div class="row">

                        <div class="col-12 row gx-3 mt-2">
                            <FluentTextArea Style="width:100%; margin:4px;" Label="Description:" Class="col-12" @bind-Value="@Offer.Description" />
                        </div>

                        <div class="col-12 row gx-3 mt-2">
                            <FluentTextArea Style="width:100%; margin:4px;" Label="Team Text:" Class="col-12" @bind-Value="@Offer.TeamText" />
                        </div>

                        <div class="col-12 row gx-3 mt-2">
                            <FluentTextArea Style="width:100%; margin:4px;" Label="Comments:" Class="col-12" @bind-Value="@Offer.Comments" />
                        </div>

                    </div>
                </ChildContent>
            </FluentAccordionItem>
        </FluentAccordion>
    </div>

    <!-- Action Buttons -->
    @if (DisplayActions)
    {
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <FluentButton IconStart="@(new Icons.Regular.Size16.Save())"
                              OnClick="@(async () => await Save())"
                              Style="float: right;"
                              Disabled=false>
                    @(_isNew ? "Add" : "Update")
                </FluentButton>
            </div>
        </div>
    }

</div>
