@using EmpiriaBMS.Core.ReturnModels
@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;
@using EmpiriaBMS.Front.ViewModel.Helper;
@using Color = Microsoft.Fast.Components.FluentUI.Color;

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager _logger
@inject MicrosoftTeams _microsoftTeams

@if (_chartConfig != null)
{
    <FluentStack Orientation="Orientation.Horizontal"
                 HorizontalAlignment="HorizontalAlignment.End">
        <FluentIcon Value="@(new Icons.Regular.Size24.FullScreenMaximize())"
                    OnClick="@ShowFullscreenDialog" />
    </FluentStack>

    <Chart Config="_chartConfig"></Chart>

} else {
    @if (_startLoading)
    {
        <FluentProgressRing Style="margin: 0 auto;"/>
    }
    else
    {
        <h5 style="color: var(--kpi-text-color);">
            <strong>Delayed Payments</strong>
        </h5>
        <span class="text-warning">No Data</span>
    }
}

<FluentDialog @ref="_dialog"
              Hidden="@(!_isDialogVisible || _startLoading)"
              Modal="true"
              DialogType=@DialogType.Panel
              style="--dialog-width: 100% !important;
                     --dialog-height: 100% !important;">

    <div class="modal-body mb-1">

        <div class="dialog-header">
            <FluentStack Orientation="Orientation.Horizontal"
                         HorizontalAlignment="HorizontalAlignment.End">

                <FluentButton Appearance="Appearance.Outline"
                              Loading="@exporting"
                              OnClick="@_exportToPdf">
                    Export
                    <FluentIcon Value="@(new Icons.Regular.Size32.DocumentPdf())" Color="Color.Error" Slot="start" />
                </FluentButton>

                <!-- Exit Fullscreen -->
                <FluentIcon Value="@(new Icons.Regular.Size24.FullScreenMinimize())"
                            OnClick="@HideFullscreenDialog" />
            </FluentStack>
        </div>

        <div style="max-width: 80vw !important; margin: 0 auto;">
            @if (_chartDialogConfig != null)
            {
                <div class="row" id="export-to-pdf">
                    <div style="color: var(--kpi-text-color);">
                        <h5>Embiria BMS</h5>
                    </div>
                    <div class="col-9">
                        <div>
                            <Chart Config="_chartDialogConfig"></Chart>
                        </div>
                    </div>
                    <!-- Table -->
                    <div class="col-3 mt-2">
                        <div>
                            <FluentDataGrid Items="@_data"
                                            ResizableColumns=true
                                            TGridItem="DictRow<DelayedPayments>"
                                            OnRowFocus="HandleRowFocus"
                                            style="height: 100%; overflow:auto;">
                                <PropertyColumn Property="@(d => d.Key)" Sortable="true" Title="Payment" Align="@Align.Start" />
                                <PropertyColumn Property="@(p => p.Value)" Sortable="true" Title="Hours" Align="@Align.Start" />
                            </FluentDataGrid>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</FluentDialog>
