@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor
@using EmpiriaBMS.Core.ReturnModels

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper


@if (_pendingPaymentsPerProject != null && _pendingPaymentsPerProject.Count > 0)
{
    <div class="row">

        <div class="col-6">
            @if (_pendingPaymentsCountPerProjectBarConfig != null)
            {
                <Chart Config="_pendingPaymentsCountPerProjectBarConfig"></Chart>
            }
        </div>

        <div class="col-6">
            @if (_pendingPaymentsFeePerProjectBarConfig != null)
            {
                <Chart Config="_pendingPaymentsFeePerProjectBarConfig"></Chart>
            }
        </div>

        <div class="col-12">
            <div style="max-width: 64vw; margin: 0 auto;">
                <FluentDataGrid Items="@_data"
                                ResizableColumns=true
                                Pagination="@pagination"
                                TGridItem="PendingPayments"
                                OnRowFocus="HandleRowFocus"
                                GridTemplateColumns="0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr"
                                style="height: 405px; overflow:auto;">

                    <PropertyColumn Property="@(p => p.Project.Name)" Sortable="true" Title="Project" Style="min-width: 150px;" />
                    <PropertyColumn Property="@(p => p.DelayedPaymentsCount)" Sortable="true" Title="Count Delayed Payments" Style="min-width: 200px;" />
                    <PropertyColumn Property="@(p => p.PendingFee)" Sortable="true" Title="Pending Fee" Style="min-width: 150px;" />
                </FluentDataGrid>
            </div>

            <div style="max-width: 64vw; margin: 0 auto;">
                <FluentPaginator State="@pagination">
                    <SummaryTemplate>
                        There are <strong>@(pagination.TotalItemCount ?? 0)</strong> rows
                    </SummaryTemplate>
                    <PaginationTextTemplate>
                        This is page <strong>@(pagination.CurrentPageIndex + 1)</strong> out of a total of <strong>@(pagination.LastPageIndex + 1)</strong> pages
                    </PaginationTextTemplate>
                </FluentPaginator>
            </div>
        </div>

    </div>
}
else
{
    <span class="text-warning ms-5">No Data!</span>
}

