@using EmpiriaBMS.Front.Services
@using EmpiriaBMS.Front.Horizontal
@using ChartJs.Blazor;
@using EmpiriaBMS.Front.ViewModel.Helper;
@using Color = Microsoft.Fast.Components.FluentUI.Color;

@inject IDataProvider _dataProvider
@inject SharedAuthDataService _sharedAuthData
@inject IMapper _mapper
@inject Logging.LoggerManager _logger
@inject MicrosoftTeams _microsoftTeams

@if (_chartConfig != null)
{
    <FluentStack Orientation="Orientation.Horizontal"
                 HorizontalAlignment="HorizontalAlignment.End">
        <FluentIcon Value="@(new Icons.Regular.Size24.FullScreenMaximize())"
                    OnClick="@ShowFullscreenDialog" />
    </FluentStack>

    <Chart Config="_chartConfig"></Chart>
}
else
{
    @if (_startLoading)
    {
        <FluentProgressRing Style="margin: 0 auto;" />
    }
    else
    {
        <h5 style="color: var(--kpi-text-color);">
            <strong>Profit Per Project</strong>
        </h5>
        <span class="text-warning">No Data</span>
    }
}

<FluentDialog @ref="_dialog"
              Hidden="@(!_isDialogVisible || _startLoading)"
              Modal="true"
              DialogType=@DialogType.Panel
              style="--dialog-width: 100% !important;
                     --dialog-height: 100% !important;">

    <div class="modal-body mb-1">

        <div class="dialog-header">
            <FluentStack Orientation="Orientation.Horizontal"
                         HorizontalAlignment="HorizontalAlignment.End">

                <FluentButton Appearance="Appearance.Outline"
                              Loading="@exporting"
                              OnClick="@_exportToPdf">
                    Export
                    <FluentIcon Value="@(new Icons.Regular.Size32.DocumentPdf())" Color="Color.Error" Slot="start" />
                </FluentButton>

                <!-- Exit Fullscreen -->
                <FluentIcon Value="@(new Icons.Regular.Size24.FullScreenMinimize())"
                            OnClick="@HideFullscreenDialog" />
            </FluentStack>
        </div>

        <div style="max-width: 80vw !important; margin: 0 auto;">
            @if (_chartDialogConfig != null)
            {
                <div class="row">
                    <!-- Title && Date Filter -->
                    <div id="filters-to-pdf" 
                         style="width: max(50vw, 400px);">
                        <div class="row">
                            <!-- Title-->
                            <div class="col-12" style="color: var(--kpi-text-color);">
                                <h5>Embiria BMS</h5>
                            </div>
                            <!-- StartDate -->
                            <div class="col-6" style="color: var(--kpi-text-color);">
                                <strong>Start Date: </strong>
                                <span class="text-warning">
                                    @StartDate.Value.DateTime.ToEuropeFormat()
                                </span>
                            </div>
                            <!-- EndDate -->
                            <div class="col-6" style="color: var(--kpi-text-color);">
                                <strong>End Date: </strong>
                                <span class="text-warning">
                                    @EndDate.Value.DateTime.ToEuropeFormat()
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Chart -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div id="chart-to-pdf" style="width: min(max(80vw, 500px), 900px); overflow-y: auto;">
                            <Chart Config="_chartDialogConfig"></Chart>
                        </div>
                    </div>
                    <!-- Table -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-2">
                        <div class="table-responsive">
                            <table id="table-to-pdf"
                                   class="table align-middle caption-top">
                                <caption>@Title</caption>
                                <thead>
                                    <tr>
                                        <th>
                                            Project
                                        </th>
                                        <th>
                                            Profit
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var row in _data)
                                    {
                                        <tr>
                                            <td>
                                                <span>@row.Key</span>
                                            </td>
                                            <td>
                                                <span>@row.Value</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</FluentDialog>
